<?php
/**
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @since         0.10.0
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */

$cakeDescription = 'CakePHP: the rapid development php framework';
?>
<!DOCTYPE html>
<html>

<head>
<?= $this->Html->charset() ?>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
<?php echo $title; ?>
</title>

<?= $this->Html->meta('icon') ?>
<?= $this->Html->css('reset.css') ?>
<?= $this->Html->css('style-index-min.css') ?>
<?= $this->Html->script('jquery-1.12.4.min.js') ?>
<?= $this->Html->script('svg4everybody.min.js') ?>
<?= $this->Html->script('customSelectBox.js') ?>
<script>svg4everybody();</script>
<?= $this->fetch('meta') ?>
<?= $this->fetch('css') ?>
<?= $this->fetch('script') ?>
</head>

<body>
    <?= $this->Flash->render() ?>
        <?= $this->fetch('content') ?>
  </body>

  </html>