<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <header>
    <h1 class="title"><img src="/images/icon.svg" alt="icon" class="icon">&nbsp;HOGE&nbsp;CHAT</h1>
  </header>
  <div class="wrapper">
    <div class="left-colum">
      <h2 class="u_name"><span class="u_name2"><img src="/images/users.svg" alt="users" class="users">&nbsp;ユーザー名：<%= username %></span></h2>
      <div class="form-group">
        <textarea name="message" id="message" class="form-control2" placeholder="メッセージを入力.."></textarea>
        <button id="send" class="button2">メッセージを送信</button>
        <a href="http://node.minehan.xyz/" class="button3">ログアウト</a>
      </div>
    </div>

    <div class="right-colum">
      <div class="">
        <ul id="chat-area"></ul>
      </div>
      <div class=""></div>
    </div>
  </div>


  <input id="username" type="hidden" value="<%= username %>" />
  <script src="/javascripts/jquery-1.12.4.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/client.js"></script>
</body>

</html>