<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <video autoplay loop poster="/images/backgrund.jpg" class="video-main" muted>
    <source src="/images/art_s.mp4" type="video/webm">
  </video>
  <div class="box">
    <h1 class="maintitle">HOGE&nbsp;CHAT</h1>
    <div class="">
      <form action="/chat" method="post">
        <div class="input-group">
          <input type="text" name="username" class="form-control" placeholder="User Name" required>
          <button class="button" type="submit">Enter</button>
        </div>
      </form>
    </div>
  </div>
  <script src="/javascripts/jquery-1.12.4.min.js"></script>
</body>

</html>