/*
Theme Name: wp
Author: 藤本卓也
Author: URI: http://160.16.204.247/wp
Description: testテーマ
Version: 1.0
*/

/***************************************************************
 *
 * Yahoo! YUI 3 CSS Reset – Minified
 * ブラウザのデフォルトCSSをリセットします
 *
***************************************************************/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/***************************************************************
*
* WordPressスタイル
* 本文中やコメント欄で使用される予定のスタイルを指定します
* 独自テーマを作る際はこのセクションをコピーして再利用すると便利です
*
* 詳しくはCodex [テーマの作成 > スタイルシートガイドライン] を確認してください。
* http://wpdocs.sourceforge.jp/%E3%83%86%E3%83%BC%E3%83%9E%E3%81%AE%E4%BD%9C%E6%88%90
*
***************************************************************/


/* image
-------------------------------------------------------------- */

img.size-full,
img.size-large,
img.header-image,
img.wp-post-image {
  max-width: 100%;
  height: auto;
}
embed,
iframe,
object,
video {
  max-width: 100%;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wp-caption {
  max-width: 100%;
  padding: 4px;
}
.wp-caption .wp-caption-text,
.gallery-caption,
.entry-caption {
  font-style: italic;
  font-size: 12px;
  font-size: 0.857142857rem;
  line-height: 2;
  color: #757575;
}


/* comment
-------------------------------------------------------------- */


button,
input,
textarea {
  border: 1px solid #ccc;
  border-radius: 3px;
  font-family: inherit;
  padding: 6px;
  padding: 0.428571429rem;
  font-size: 1.2em;
}
button,
input {
  line-height: normal;
}
textarea {
  font-size: 100%;
  overflow: auto;
  vertical-align: top;
}

input[type="checkbox"],
input[type="file"],
input[type="hidden"],
input[type="image"],
input[type="color"] {
  border: 0;
  border-radius: 0;
  padding: 0;
}

input[type="submit"],
input[type="button"],
input[type="reset"] {
  padding: 6px 10px;
  padding: 0.428571429rem 0.714285714rem;
  font-size: 11px;
  font-size: 0.785714286rem;
  line-height: 1.428571429;
  font-weight: normal;
  color: #7c7c7c;
  background-color: #e6e6e6;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #f4f4f4, #e6e6e6);
  background-image: -ms-linear-gradient(top, #f4f4f4, #e6e6e6);
  background-image: -webkit-linear-gradient(top, #f4f4f4, #e6e6e6);
  background-image: -o-linear-gradient(top, #f4f4f4, #e6e6e6);
  background-image: linear-gradient(top, #f4f4f4, #e6e6e6);
  border: 1px solid #d2d2d2;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
}

input[type="submit"],
input[type="button"],
input[type="reset"] {
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover {
  color: #5e5e5e;
  background-color: #ebebeb;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #f9f9f9, #ebebeb);
  background-image: -ms-linear-gradient(top, #f9f9f9, #ebebeb);
  background-image: -webkit-linear-gradient(top, #f9f9f9, #ebebeb);
  background-image: -o-linear-gradient(top, #f9f9f9, #ebebeb);
  background-image: linear-gradient(top, #f9f9f9, #ebebeb);
}
input[type="submit"]:active,
input[type="button"]:active,
input[type="reset"]:active {
  color: #757575;
  background-color: #e1e1e1;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #ebebeb, #e1e1e1);
  background-image: -ms-linear-gradient(top, #ebebeb, #e1e1e1);
  background-image: -webkit-linear-gradient(top, #ebebeb, #e1e1e1);
  background-image: -o-linear-gradient(top, #ebebeb, #e1e1e1);
  background-image: linear-gradient(top, #ebebeb, #e1e1e1);
  box-shadow: inset 0 0 8px 2px #c6c6c6, 0 1px 0 0 #f4f4f4;
  border: none;
}
div#comment-container ol {
  margin:20px 0 20px 20px;
}
div.comment-meta {
  margin-bottom:20px;
}

input:focus, select:focus, textarea:focus {/*フォームスタイル*/
  outline: 1px #398f47 solid;
}

/* widget
-------------------------------------------------------------- */
#wp-calendar {
  width:100%;
}
.widget_calendar caption {
  margin-bottom:5px;
}
.widget_calendar td {
  text-align:center;
  padding:2px;
}

.screen-reader-text {
  position: absolute;
  left: -9999px;
}

#s{/* 検索文字を入力する部分 */
  width:150px;
  height:20px;
}

#searchsubmit{/* 右側の[検索]ボタン */
  width:70px;
  height:35px;
}

/* font
-------------------------------------------------------------- */
body{
  font-family: "Times New Roman", "游明朝", YuMincho, "Hiragino Mincho ProN", Meiryo, serif;
}
.entry p,
.widget p {
  margin-bottom:2em;
}
strong {
  font-weight:800;
}
em {
  font-style:italic;
}
ol {
  list-style-type:decimal;
}
.entry ul,
.entry ol,
.widget ul,
.widget ol {
  margin:20px 0 20px 20px;
  list-style-position:inside;
}

/* general
-------------------------------------------------------------- */

.cfx:before,
.cfx:after {
  content: " ";
  display: table;
}

.cfx:after {
  clear: both;
}

.cfx {
  *zoom: 1;
}

body {
  font-size: 16px;
}

a{
  text-decoration: none;
}

a:link {
  color: #000;
}

a:visited {
  color: #000;
}

a:hover {
  color: #398f47;
}

/* お問い合わせフォーム
-------------------------------------------------------------- */

.wpcf7 {
  margin: 96px 0;
}
.asterisk {
  margin: 0 0 0 0.2em;
  color: #398f47;
}
.wpcf7 span.wpcf7-not-valid-tip {
  font-size: 80%;
}
.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 input[type="tel"],
.wpcf7 textarea {
  width: 95%;
  font-size: 100%;
  padding: 0.5em;
}
.wpcf7 input[type="submit"] {
  font-size: 100%;
  padding: 0.2em 0.4em;
  cursor: pointer;
}

.wpcf7 input[type="radio"] {
  display: none;
}
.wpcf7 label {
  position: relative;
  display: inline-block;
  padding: 3px 3px 3px 20px;
  cursor: pointer;
}
.wpcf7 label::before,
.wpcf7 label::after {
  position: absolute;
  content: '';
  top: 50%;
  border-radius: 100%;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.wpcf7 label::before {
  left: 0;
  width: 14px;
  height: 14px;
  margin-top: -8px;
  background: #f3f3f3;
  border: 1px solid #ccc;
}
.wpcf7 label:hover::before {
  background: #fff;
}
.wpcf7 label::after {
  opacity: 0;
  left: 4px;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  background: #398f47;
  -webkit-transform: scale(2);
  transform: scale(2);
}
.wpcf7 input[type="radio"]:checked + label::before {
  background: #fff;
  border: 1px solid #398f47;
}
.wpcf7 input[type="radio"]:checked + label::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* header
-------------------------------------------------------------- */

#header {
  width: 100%;
  background-color: #FFF;
}

div#metaslider_74{
  width: 100%;
  height: 480px;
}

div#pi{
  width: 100%;
  height: 480px;
  margin-top: -480px;
  position: relative;
}

p#header-banner {
  display: block;
  width: 245px;
  height: 215px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin:auto;
}

p#header-banner a {
  display: block;
  width: 300px;
  height: 300px;
  background: url(img/logo.png) no-repeat;
  text-indent: -7777px;
}

p#header-banner a:hover{
  opacity: 0.8;
}

#header-top {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

#header-nav {
  width: 1050px;
  float: right;
  margin-top: 10px;
  position: relative;
  padding-bottom: 100px;
}
p#header-telphone {
  display: block;
  width: 590px;
  height: 35px;
  background: url(img/tel.png) no-repeat;
  position: absolute; top: -45px; left: 455px;
}

p#header-contact a {
  display: block;
  text-indent: -7777px;
  width: 380px;
  height: 50px;
  background: url(img/mail.png) no-repeat;
  position: absolute; top: -45px; left: 690px;
}

/*ずれ対策*/
p#header-telphone02 {
  display: block;
  width: 590px;
  height: 35px;
  background: url(img/tel.png) no-repeat;
  position: absolute; top: -48px; left: 455px;
}

p#header-contact02 a {
  display: block;
  text-indent: -7777px;
  width: 380px;
  height: 50px;
  background: url(img/mail.png) no-repeat;
  position: absolute; top: -48px; left: 690px;
}

p#header-contact a:hover{
  opacity: 0.8;
}

p#header-contact02 a:hover{
  opacity: 0.8;
}

div#header-menu ul {
margin-top: 80px;
}

div#header-menu ul li {
  display: inline;
  margin-left: 50px;
  font-size: 2em;
}

div#header-menu ul li a{
    position: relative;
   display: inline-block;
   padding: .4em;
   text-decoration: none;
}

div#header-menu ul li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 98%;
  height: 1px;
  transform: scaleX(0);
  background-color: #398f47;
  transition: all .6s ease;
}

div#header-menu ul li a:hover::after {
  transform: scaleX(1);
}

/* main content
-------------------------------------------------------------- */

#main {
  width: 1000px;
  padding: 20px;
  margin: 0 auto;
  position: relative;
  top: -50px;
}

.page-title {
  margin: 8px 0 40px 0;
  padding-bottom: 20px;
  padding-left: 13px;
  background: url(img/bar.png) no-repeat left bottom;
  font-size: 2em;
  color: #000000;
}

.page-title a:hover {
  color: #398f47;
}

.page-meta {
  text-align: right;
  margin-bottom: 40px;
}

.page-content {
  line-height: 1.8em;
}

.page-content h2 {
  margin: 20px 0;
  font-size: 1.4em;
  color: #000000;
}

.page-content p {
  margin-bottom: 3em;
}

#post-link {
  padding-top: 100px;
  padding-bottom: 40px;
  border-bottom: 1px solid #999;
}

#post-link-prev {
  float: left;
}

#post-link-prev {
  float: right;
}

#comment-container {
  padding-top: 80px;
}

#comment-container p {
  margin-bottom: 1em;
}

.archive-box {
  padding-bottom: 100px;
}

#left-column {
  float: left;
  width: 680px;
}

#right-column {
  float: right;
  width: 240px;
}


/* toppage
-------------------------------------------------------------- */

#top-new {
  width: 400px;
  float: left;
}

h2#top-new-title {
  width: 473px;
  height: 89px;
  background: url(img/news.png) no-repeat;
  text-indent: -7777px;
  margin-bottom: 10px;
}

ul#top-new-posts {
  width: 380px;
  padding: 0 10px;
}

li.top-new-post {
  width: 380px;
  height: 90px;
  padding: 17px 0;
  border-bottom: 2px solid #aaa;
}

li.top-new-post a {
  display: block;
  width: 380px;
  height: 90px;
}

li.top-new-post a:link {
  color: #000;
  text-decoration: none;
}

li.top-new-post a img {
  float: left;
  margin-right: 10px;
}

li.top-new-post a span {
  display: block;
  padding-top: 8px;
  color: #398f47;
  font-size: 1.5em;
  font-weight: 800;
}

li.top-new-post a h3 {
  font-size: 16px;
  margin-top: 10px;
  height: 3em;
  overflow: hidden;
}

p#top-new-link {
  margin-top: 20px;
}

p#top-new-link a {
  display: block;
  width: 120px;
  height: 30px;
  margin-left: 295px;
}

#top-shop {
  width: 540px;
  float: right;
}

h2#top-shop-title {
  width: 400px;
  height: 82px;
  margin-left: 135px;
  background: url(img/shop.png) no-repeat;
  text-indent: -7777px;
  margin-top: 7px;
}

.top-shop-map{
  margin: 10px 0 0 150px;
}

table.top-shop-information{
  margin: 20px 0 0 150px;
}

tr.top-shop-frame{
  width: 400px;
  border-bottom: solid 2px #aaa;
}

th.top-shop-headline{
  font-size: 24px;
  text-align: left;
  vertical-align: middle;
}

td.top-shop-content{
  width: 280px;
  font-size: 18px;
  padding: 10px 0;
  text-align: center;
  line-height: 25px;
}

p#top-shop-link {
  margin-top: 20px;
}

p#top-shop-link a {
  display: block;
  width: 125px;
  height: 30px;
  margin-left: 430px;
}

#top-menu {
  padding-top: 50px;
}

h2#top-menu-title {
  width: 1000px;
  height: 97px;
  background: url(img/menu.png) no-repeat;
  text-indent: -7777px;
  margin-bottom: 20px;
}

div#top-menu-item01{
  display: inline-block;
  width: 205px;
  height: 290px;
  border: solid 2px #398f47;
  margin: 20px 50px 20px 0;
  background: url(img/item01.png) no-repeat;
  background-size: 95% auto;
  background-position: 5px 5px;
}

div#top-menu-item02{
  display: inline-block;
  width: 205px;
  height: 290px;
  border: solid 2px #398f47;
  margin: 20px 50px 20px 0;
  background: url(img/item02.png) no-repeat;
  background-size: 95% auto;
  background-position: 5px 5px;
}

div#top-menu-item03{
  display: inline-block;
  width: 205px;
  height: 290px;
  border: solid 2px #398f47;
  margin: 20px 50px 20px 0;
  background: url(img/item03.png) no-repeat;
  background-size: 95% auto;
  background-position: 5px 5px;
}

div#top-menu-item04{
  display: inline-block;
  width: 205px;
  height: 290px;
  border: solid 2px #398f47;
  margin: 20px 0;
  background: url(img/item04.png) no-repeat;
  background-size: 95% auto;
  background-position: 5px 5px;
}

div#top-menu-item05{
  display: inline-block;
  width: 205px;
  height: 290px;
  border: solid 2px #398f47;
  margin: 20px 50px 20px 0;
  background: url(img/item05.png) no-repeat;
  background-size: 95% auto;
  background-position: 5px 5px;
}

div#top-menu-item06{
  display: inline-block;
  width: 205px;
  height: 290px;
  border: solid 2px #398f47;
  margin: 20px 50px 20px 0;
  background: url(img/item06.png) no-repeat;
  background-size: 95% auto;
  background-position: 5px 5px;
}

div#top-menu-item07{
  display: inline-block;
  width: 205px;
  height: 290px;
  border: solid 2px #398f47;
  margin: 20px 50px 20px 0;
  background: url(img/item07.png) no-repeat;
  background-size: 95% auto;
  background-position: 5px 5px;
}

div#top-menu-item08{
  display: inline-block;
  width: 205px;
  height: 290px;
  border: solid 2px #398f47;
  margin: 20px 0;
  background: url(img/item08.png) no-repeat;
  background-size: 95% auto;
  background-position: 5px 5px;
}

p.top-menu-item-title{
  font-size: 18px;
  margin-top: 170px;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: solid 1px #398f47;
}

p.top-menu-item-content{
  width: 130px;
  height: 70px;
  padding: 10px 2px;
  font-size: 14px;
  border-right: solid 1px #398f47;
}

p.top-menu-item-price{
  font-size: 20px;
  margin: -50px 0 0 150px;
  width: 70px;
  height: 90px;
}

p#top-menu-link {
  margin-top: 20px;
}

p#top-menu-link a {
  display: block;
  width: 160px;
  height: 30px;
  margin-left: 845px;
}

/* sidebar
-------------------------------------------------------------- */

#sidebar-menu,
#sidebar-contact {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #999;
}

h3#sidebar-menu-title {
  background: url(img/side_menutitle.png) no-repeat left bottom;
  padding: 10px 0 10px 75px;
  font-size: 1.4em;
  line-height: 1.8em;
  margin-bottom: 20px;
}

ul#sidebar-menu-parent {
  margin-left: 10px;
}

ul#sidebar-menu-parent li {
  padding-left: 20px;
  margin-bottom: 20px;
}

ul#sidebar-menu-parent li a{
  position: relative;
  display: inline-block;
  padding: .2em;
  text-decoration: none;
}

ul#sidebar-menu-parent li a::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 95%;
  height: 1px;
  transform: scaleX(0);
  background-color: #398f47;
  transition: all .6s ease;
}

ul#sidebar-menu-parent li a:hover::after{
  transform: scaleX(1);
}

ul#sidebar-menu-child {
  margin-top: 14px;
}

ul#sidebar-menu-child li {
  background: none;
  margin-left: 10px;
  padding-left: 0;
  font-size: 0.9em;
  margin-bottom: 10px;
}

ul#sidebar-menu-child li a:hover {
  color: #398f47;
}

.widget {
  margin-bottom: 30px;
  padding:10px 0 30px 0;
}

.widget li {
  font-size: 0.8em;
  line-height: 1.4em;
  margin-bottom: 10px;
}

h3.widget-title {
  background: url(img/page_title_bgimg.png) no-repeat left bottom;
  padding: 10px 0 10px 10px;
  font-size: 1.2em;
  line-height: 1.6em;
  margin-bottom: 20px;
}



/* footer
-------------------------------------------------------------- */

#footer{
  background-color: #398f47;
  width: 100%;
  height: 240px;
  color: #fff;
}

#footer-wrapper{
  width: 1000px;
  height: 240px;
  margin: 0 auto;
  overflow: hidden;
}

#footer-logo {
  float: left;
  margin-top: 50px;
}

table.top-footer-information{
  float: right;
  margin-top: 20px;
}

tr.top-footer-frame{
  width: 400px;
  border-bottom: solid 2px #aaa;
}

th.top-footer-headline{
  font-size: 24px;
  text-align: left;
  vertical-align: middle;
}

td.top-footer-content{
  width: 450px;
  font-size: 24px;
  padding: 10px 0 10px 30px;
  text-align: left;
  line-height: 25px;
}

#footer-copyright {
  width: 100%;
  background-color: #85633d;
  padding: 20px 0;
}

#footer-copyright p {
  color: #FFF;
  text-align: center;
  font-size: 20px;
}
