@charset "UTF-8";
/*   
Theme Name: XeoryExtension
Theme URI: http://xeory.jp/extension
Description: Xeory拡張テーマ
Author: バズ部
Author URI: http://bazubu.com/
Version: 0.1.7
*/
/* all display
-------------------------------------------------- */
.wrap {
  width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
  *zoom: 1;
}
.wrap:before {
  display: inline-table;
}
.wrap:after {
  content: "";
  display: block;
  clear: both;
}

#main {
  width: 100%;
  float: left;
}

.main-inner {
  margin-right: 358px;
}

#side {
  width: 310px;
  float: left;
  margin-left: -310px;
}

.left-content #main {
  width: 100%;
  float: left;
}
.left-content .main-inner {
  margin-right: 358px;
  margin-left: 0;
}
.left-content #side {
  width: 310px;
  float: left;
  margin-left: -310px;
}

.right-content #main {
  width: 100%;
  float: left;
}
.right-content .main-inner {
  margin-left: 358px;
  margin-right: 0;
}
.right-content #side {
  width: 310px;
  float: left;
  margin-left: -100%;
}

.one-column #content .wrap {
  width: 1000px;
}
.one-column #content .wrap #main {
  width: 100%;
  float: none;
}
.one-column #content .wrap #main .main-inner {
  width: 100%;
  margin: 0;
}
.one-column #content .wrap #side {
  display: none;
}

/* ----------------------------------------
* レスポンシブ
* ~ / 1200px / 991px / 767px 
* desctop / laptop / tablet / phone
---------------------------------------- */
@media screen and (max-width: 1200px) {
  /* laptop */
  .wrap,
  .one-column #content .wrap {
    margin-left: 36px;
    margin-right: 36px;
    width: auto;
  }

  .main-inner {
    margin-right: 346px;
    box-sizing: border-box;
  }

  /* laptop end */
}
@media screen and (max-width: 991px) {
  /* tablet */
  .wrap,
  .one-column #content .wrap {
    margin-left: 24px;
    margin-right: 24px;
  }

  #main,
  .main-inner,
  #side {
    float: none;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .left-content #main,
  .right-content #main {
    float: none;
  }
  .left-content .main-inner,
  .right-content .main-inner {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }
  .left-content #side,
  .right-content #side {
    width: 100%;
    float: none;
    margin: 0;
  }

  #side {
    padding-top: 42px;
  }

  /* tablet end */
}
@media screen and (max-width: 767px) {
  /* phone */
  .wrap,
  .one-column #content .wrap {
    margin-left: 12px;
    margin-right: 12px;
  }

  /* phone end */
}
/* ----------------------------------------
* フォント設定
---------------------------------------- */
/* ----------------------------------------
* all
---------------------------------------- */
body {
  background: url("./lib/images/bg.png");
  color: #241913;
}

a {
  text-decoration: none;
  color: #47B39D;
}
a:hover {
  text-decoration: underline;
}

/* form
---------------------------------------- */
form input[type="submit"],
form button {
  background: #3B4552;
  color: #fff;
}
form input[type="submit"]:hover,
form button:hover {
  cursor: pointer;
}

/* ----------------------------------------
* header
---------------------------------------- */
#header {
  background: #47B39D;
  padding: 0;
  overflow: visible;
}
#header #logo {
  float: left;
  font-size: 24px;
  padding: 20px 0;
}
#header a {
  color: #fff;
}

/* ----------------------------------------
* breadcrumb
---------------------------------------- */
.breadcrumb-area {
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
}
.breadcrumb-area .wrap {
  padding: 10px 0;
}

.breadcrumb {
  margin: 0;
  margin-left: -10px;
  overflow: hidden;
  font-size: 13px;
  padding: 0;
  line-height: 22px;
}
.breadcrumb li {
  float: left;
  margin-left: 10px;
}
.breadcrumb li a {
  text-decoration: none;
}
.breadcrumb li a:hover {
  text-decoration: underline;
}

/* ----------------------------------------
* gloval nav & primary nav
---------------------------------------- */
#gnav {
  background: #47B39D;
  margin: 0 0 0 auto;
  float: right;
  text-align: right;
}
#gnav .sub-menu {
  z-index: 10;
}
#gnav ul li {
  display: inline-block;
  position: relative;
}
#gnav ul li:hover a {
  background: #57bca8;
}
#gnav ul li.current-menu-item a {
  background: #57bca8;
}
#gnav ul li a {
  display: block;
  padding: 32px 12px;
  line-height: 28px;
  color: #fff;
  background: #47B39D;
  text-decoration: none;
  -webkit-transition: background .3s ease-in-out;
          transition: background .3s ease-in-out;
}
#gnav ul li a:hover {
  color: #fff;
  background: #57bca8;
}
#gnav ul li a:hover .sub-menu {
  display: block;
}
#gnav ul li .sub-menu {
  font-size: 14px;
  text-align: left;
  display: none;
  position: absolute;
  width: 200px;
  background: #fff;
  border: 1px #e5e5e5 solid;
}
#gnav ul li .sub-menu li {
  float: none;
  margin-left: 0;
  border-bottom: 1px #e5e5e5 solid;
  display: block;
}
#gnav ul li .sub-menu li:list-child {
  border-bottom: none;
}
#gnav ul li .sub-menu li a {
  color: #3B4552;
  background: #fff;
  padding: 10px 15px;
}
#gnav ul li .sub-menu li a:hover {
  background: #fafafa;
  color: #3B4552;
}
#gnav ul li .sub-menu .sub-menu {
  left: 100%;
  top: -1px;
}

#header-right {
  height: 92px;
  float: right;
}

#header-fnav-area,
#header-gnav-area {
  float: right;
}

#header-fnav-area {
  width: 150px;
  position: relative;
}
#header-fnav-area #header-fnav-btn a {
  display: block;
  padding: 22px 12px;
  line-height: 24px;
  font-size: 23px;
  height: auto;
  text-align: center;
  background: #57bca8;
}
#header-fnav-area #header-fnav-btn a:hover {
  text-decoration: none;
}
#header-fnav-area #header-fnav {
  z-index: 10;
  font-size: 14px;
  text-align: left;
  display: none;
  position: absolute;
  right: 0;
  width: 200px;
  background: #fff;
  border: 1px #e5e5e5 solid;
}
#header-fnav-area #header-fnav li {
  float: none;
  margin-left: 0;
  border-bottom: 1px #e5e5e5 solid;
  display: block;
}
#header-fnav-area #header-fnav li:list-child {
  border-bottom: none !important;
}
#header-fnav-area #header-fnav li a {
  color: #3B4552;
  background: #fff;
  padding: 10px 15px;
  display: block;
}
#header-fnav-area #header-fnav li a:hover {
  background: #fafafa;
  color: #3B4552;
  text-decoration: none;
}

/* ----------------------------------------
* content
---------------------------------------- */
#content {
  padding: 52px 0;
  /* キャプション */
}
#content .wrap {
  overflow: visible;
}
#content .wp-caption {
  max-width: 100%;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 5px;
  margin-bottom: 12px;
}
#content .wp-caption-text {
  padding: 12px 16px;
  margin-bottom: 0;
  text-align: center;
}

/* ----------------------------------------
* frontpage
---------------------------------------- */
body.home #content {
  padding-bottom: 0;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, Verdana, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
body.home #main {
  width: 100%;
  margin: 0;
  float: none;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, Verdana, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
body.home .main-inner {
  margin: 0;
}
body.home .wrap {
  width: 1200px;
  margin: 0 auto;
}
body.home #main_visual {
  background: #41BAA4;
  background-image: -webkit-linear-gradient(bottom right, #41baa4, #42a994);
  background-image: linear-gradient(to top left, #41baa4, #42a994);
  color: #fff;
  text-align: center;
}
body.home #main_visual h2 {
  font-size: 48px;
  line-height: 70px;
  margin-bottom: 24px;
}
body.home #main_visual p {
  font-size: 15px;
  width: 600px;
  margin: 0 auto;
}
body.home .front-loop {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  background: #fff;
  overflow: hidden;
  padding: 0;
  margin-left: -2.2%;
  margin-bottom: 40px;
}
body.home .front-loop h2 {
  text-align: center;
  padding: 24px 0;
  margin: 0;
  border-bottom: 1px solid #e5e5e5;
  font-size: 24px;
}
body.home .front-loop .popular_post_box {
  width: 17.64%;
  margin-left: 2.2%;
  float: left;
  display: inline-block;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, Verdana, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  position: relative;
}
body.home .front-loop .popular_post_box img,
body.home .front-loop .popular_post_box h3,
body.home .front-loop .popular_post_box .p_category,
body.home .front-loop .popular_post_box ul {
  margin-bottom: 12px;
  margin-top: 0;
}
body.home .front-loop .popular_post_box h3 {
  color: #241913;
  font-weight: normal;
  font-size: 16px;
}
body.home .front-loop .popular_post_box h3 a {
  color: #241913;
}
body.home .front-loop .popular_post_box h3 a:hover {
  color: #FF6C00;
  text-decoration: underline;
}
body.home .front-loop .popular_post_box img {
  max-width: 100%;
  height: auto;
}
body.home .front-loop .popular_post_box ul {
  overflow: hidden;
}
body.home .front-loop .popular_post_box ul li {
  float: left;
  width: 25%;
  text-align: left;
}
body.home .front-loop .popular_post_box ul li .fa {
  margin-right: 8px;
}
body.home .front-loop .popular_post_box ul li .share {
  display: none;
}
body.home .front-loop .popular_post_box ul a {
  color: #241913;
}
body.home .front-loop .popular_post_box ul a:hover {
  color: #FF6C00;
  text-decoration: underline;
}
body.home .front-loop .popular_post_box .p_category {
  background: #47B39D;
  color: #fff;
  display: inline-block;
  padding: 8px 24px;
  font-size: 12px;
  color: #fff;
}
body.home .front-loop .popular_post_box .p_rank {
  position: absolute;
  top: 0;
  left: 0;
  background: #900;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  opacity: .7;
}
body.home .front-loop .popular_post_box .p_rank span {
  font-size: 16px;
}
body.home .front-loop .popular_post_box .p_date {
  position: absolute;
  top: 0;
  left: 0;
  background: #3B4552;
  width: 48px;
  height: 48px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  opacity: .7;
}
body.home .front-loop .popular_post_box .p_date span {
  display: block;
  line-height: 18px;
}
body.home .front-loop .popular_post_box .p_date .date-y {
  font-size: 12px;
  padding-top: 6px;
}
body.home .front-loop .popular_post_box .p_date .date-mj {
  font-size: 14px;
  padding-bottom: 6px;
}
body.home .front-loop .front-loop-cont {
  padding: 40px 0;
  overflow: hidden;
}
body.home .front-loop article.post {
  border: none;
  margin-bottom: 20px;
}
body.home .front-loop article.post.rank-1 .p_rank {
  background: #D6B038;
}
body.home .front-loop article.post.rank-2 .p_rank {
  background: #BFC4C9;
}
body.home .front-loop article.post.rank-3 .p_rank {
  background: #B9704E;
}
body.home .front-loop article.post.rank-4 .p_rank, body.home .front-loop article.post.rank-5 .p_rank {
  background: #47442F;
}
body.home .front-main-cont .front-cont-header {
  position: relative;
  padding: 16px 0 24px;
  background: #3B4552;
  color: #fff;
  text-align: center;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, Verdana, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
body.home .front-main-cont .front-cont-header .cont-icon {
  font-size: 28px;
}
body.home .front-main-cont .front-cont-header .cont-title {
  font-size: 28px;
  margin: 0;
}
body.home .front-main-cont .front-cont-header .cont-ruby {
  font-size: 13px;
  margin: 0;
}
body.home .front-main-cont .tri-border {
  position: absolute;
  bottom: -18px;
  width: 100%;
  z-index: 20;
}
body.home .front-main-cont .tri-border span {
  display: block;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-left: 28px solid transparent;
  border-left: 56px solid transparent;
  border-right: 56px solid transparent;
  border-top: 18px solid #3B4552;
}
body.home #front-contents .c_box {
  position: relative;
  border-bottom: 1px solid #e5e5e5;
}
body.home #front-contents .c_box_inner {
  width: 54%;
  padding-bottom: 32px;
}
body.home #front-contents .c_img_box {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  z-index: 0;
  background-size: cover;
  background-repeat: no-repeat;
}
body.home #front-contents .c_box.c_box_left {
  background-color: #fff;
}
body.home #front-contents .c_box.c_box_left .c_box_inner {
  float: left;
  z-index: 10;
}
body.home #front-contents .c_box.c_box_left .c_img_box {
  right: 0;
  background-position: center top;
}
body.home #front-contents .c_box.c_box_right {
  background-color: #fafafa;
}
body.home #front-contents .c_box.c_box_right .c_box_inner {
  float: right;
}
body.home #front-contents .c_box.c_box_right .c_img_box {
  left: 0;
  background-position: center top;
}
body.home #front-contents .c_number {
  background: #47B39D;
  color: #fff;
  display: inline-block;
  padding: 40px 12px 8px;
  margin-bottom: 32px;
  margin-top: 0;
}
body.home #front-contents h3 {
  color: #47B39D;
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 8px;
  line-height: 1.4;
}
body.home #front-contents .c_english {
  color: #47B39D;
  font-size: 13px;
  margin-bottom: 32px;
  margin-top: 0;
}
body.home #front-contents h4 {
  font-size: 24px;
  margin-bottom: 28px;
  margin-top: 0;
  font-weight: normal;
}
body.home #front-contents .c_text p {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, Verdana, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  margin-bottom: 48px;
}
body.home #front-contents .c_text .c_btn a {
  border-radius: 5px;
  background: #FF6C00;
  color: #fff;
  font-size: 14px;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  -webkit-transition: all ease-in-out .3s;
          transition: all ease-in-out .3s;
  opacity: 1;
  display: block;
  width: 30%;
  padding: 12px;
  text-align: center;
}
body.home #front-contents .c_text .c_btn a:hover {
  opacity: 0.8;
  text-decoration: none;
}
body.home #front-service {
  background: url(./lib/images/border_e5.png) repeat-y top center #fff;
  padding-bottom: 56px;
  border-bottom: 1px solid #e5e5e5;
}
body.home #front-service .front-service-inner {
  margin-left: -10%;
  overflow: hidden;
}
body.home #front-service .front-service-inner .c_box {
  width: 40%;
  padding-top: 96px;
  margin-left: 10%;
  margin-bottom: 20px;
  float: left;
}
body.home #front-service .front-service-inner .c_title {
  text-align: center;
}
body.home #front-service .front-service-inner h3 {
  color: #47B39D;
  font-size: 40px;
  margin-bottom: 8px;
}
body.home #front-service .front-service-inner .c_english {
  color: #47B39D;
  font-size: 13px;
  margin-bottom: 32px;
}
body.home #front-service .front-service-inner h4 {
  font-size: 24px;
  margin-bottom: 28px;
  text-align: center;
}
body.home #front-service .front-service-inner .c_text p {
  margin-bottom: 28px;
}
body.home #front-service .front-service-inner .c_text .c_btn a {
  border-radius: 5px;
  background: #47B39D;
  color: #fff;
  margin: 0 auto;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  -webkit-transition: all ease-in-out .3s;
          transition: all ease-in-out .3s;
  opacity: 1;
  display: block;
  width: 50%;
  padding: 16px 20px;
  text-align: center;
}
body.home #front-service .front-service-inner .c_text .c_btn a:hover {
  opacity: 0.8;
  text-decoration: none;
}
body.home #front-company {
  background: #fff;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, Verdana, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
body.home #front-company .c_box {
  position: relative;
  border-bottom: 1px solid #e5e5e5;
  min-height: 450px;
}
body.home #front-company .c_box_inner {
  width: 684px;
  padding: 96px 0;
}
body.home #front-company .c_img_box {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  z-index: 0;
}
body.home #front-company .c_img_box iframe {
  width: 100% !important;
  height: 100% !important;
}
body.home #front-company .no-company-map .c_img_box {
  display: none;
}
body.home #front-company .no-company-map .c_box_inner {
  margin-left: auto;
  margin-right: auto;
}
body.home #front-company dl {
  overflow: hidden;
  border-bottom: 1px solid #e5e5e5;
  margin: 0;
}
body.home #front-company dl dt span,
body.home #front-company dl dd span {
  padding: 20px 32px;
  display: block;
}
body.home #front-company dl dt {
  float: left;
  width: 20%;
  margin: 0;
}
body.home #front-company dl dd {
  float: left;
  width: 80%;
  margin: 0;
}
body.home #front-company dl#front-company-1 dt {
  border-top: 2px solid #47B39D;
}
body.home #front-company dl#front-company-1 dt span {
  padding-top: 19px;
}
body.home #front-company dl#front-company-1 dd {
  border-top: 1px solid #e5e5e5;
}
body.home #front-contact {
  background: #47B39D;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, Verdana, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
body.home #front-contact .c_box_inner {
  padding: 60px 0;
  width: 100%;
  max-width: 632px;
  margin: 0 auto;
}
body.home #front-contact .c_box_inner input[type=text],
body.home #front-contact .c_box_inner input[type=tel],
body.home #front-contact .c_box_inner input[type=email],
body.home #front-contact .c_box_inner input[type=url],
body.home #front-contact .c_box_inner textarea {
  width: 95%;
}
body.home #front-contact .c_box_inner input[type=submit],
body.home #front-contact .c_box_inner button {
  width: 30%;
  display: block;
  background: #131D2A;
  border-radius: 3px;
  margin: 0 auto;
}
body.home #front-contact .c_box_inner p {
  margin-bottom: 1.4em;
}

/* ----------------------------------------
* main
---------------------------------------- */
.cat-content,
article.post,
article.page {
  margin-bottom: 60px;
  background: #fff;
  border: 1px #e5e5e5 solid;
}

.post-header {
  padding: 56px 64px 46px;
  position: relative;
  border-bottom: 1px solid #e5e5e5;
}
.post-header .cat-name {
  margin-bottom: 20px;
}
.post-header .cat-name span {
  border: 1px solid #47B39D;
  color: #47B39D;
  display: inline-block;
  padding: 4px 16px;
  font-size: 13px;
}

.post-title {
  font-size: 32px;
  line-height: 1.5;
  margin-bottom: 36px;
  font-weight: bold;
}
body.page .post-title {
  margin-bottom: 0;
}
.post-title a {
  color: #241913;
}
.post-title a:hover {
  color: #FF6C00;
}

.post-content h2.post-title {
  font-weight: normal;
}

.post-title a {
  color: #3B4552;
}
.post-title a:hover {
  color: #FF6C00;
  text-decoration: none;
}

.cat-content .post-header,
article.page .post-header {
  padding: 56px 64px 30px;
  margin-bottom: 20px;
  background: #fff;
}

.post-meta-area {
  margin: 0;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
}
.post-meta-area ul {
  margin: 0;
}
.post-meta-area .post-meta {
  width: 50%;
  float: left;
}
.post-meta-area .post-meta .date {
  padding: 12px 40px;
}
.post-meta-area .post-meta .date .datetime {
  font-size: 1.1em;
}
.post-meta-area .post-meta-comment {
  text-align: center;
  width: auto;
  float: right;
}
.post-meta-area .post-meta-comment li {
  padding: 12px 24px;
  display: inline-block;
  border-left: 1px solid #e5e5e5;
}

.post-thumbnail img {
  width: 100%;
  height: auto;
}

.post-content {
  padding: 30px 64px 10px;
}
.post-content hr {
  border-bottom: 1px solid #eee;
  margin: 20px 0;
  clear: both;
}
.post-content p,
.post-content ul,
.post-content ol,
.post-content dl,
.post-content blockquote,
.post-content pre,
.post-content table {
  margin-bottom: 2em;
}
.post-content ul {
  list-style: disc;
}
.post-content ol {
  list-style: decimal;
}
.post-content ul,
.post-content ol {
  margin-left: 30px;
}
.post-content ul > ul,
.post-content ul > ol,
.post-content ol > ol,
.post-content ol > ul {
  margin-bottom: 0px;
}
.post-content dl dt {
  font-weight: bold;
}
.post-content dl dd {
  margin-left: 30px;
}
.post-content pre {
  padding: 20px;
  overflow: scroll;
  font-family: 'Courier', monospace;
}
.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
  font-weight: bold;
}
.post-content h1 {
  margin: 32px 0;
  font-size: 36px;
  clear: both;
  font-weight: normal;
}
.post-content h2 {
  margin: 80px 0 32px -74px;
  padding: 16px 16px 16px 56px;
  font-size: 28px;
  clear: both;
  font-weight: normal;
  border-left: 10px solid #131D2A;
  background: #3B4552;
  color: #fff;
}
.post-content h3 {
  font-size: 24px;
  margin: 48px 0 24px;
  padding: 20px 0;
  clear: both;
  font-weight: normal;
  border-bottom: 2px solid #3B4552;
  line-height: 1;
}
.post-content h4 {
  font-size: 20px;
  margin: 30px 0 16px;
  padding: 0 0 0 8px;
  border-left: 5px solid #131D2A;
  clear: both;
}
.post-content h5 {
  font-size: 16px;
  margin: 30px 0 16px;
  clear: both;
}
.post-content h6 {
  font-size: 16px;
  margin: 30px 0 16px;
  clear: both;
}
.post-content blockquote {
  clear: both;
  margin: 0 0 28px;
  padding: 30px 20px 35px 55px;
  position: relative;
  border: 1px #e5e5e5 solid;
  background: #fafafa;
}
.post-content blockquote:before {
  content: '';
  font-family: 'FontAwesome';
  font-size: 36px;
  color: #e7e7e7;
  position: absolute;
  top: 20px;
  left: 10px;
}
.post-content blockquote cite {
  position: absolute;
  right: 20px;
  bottom: 10px;
  font-size: 12px;
  color: #808080;
}
.post-content table {
  border: 1px #ddd solid;
  max-width: 100%;
}
.post-content table th,
.post-content table td {
  padding: 8px 10px;
  border: #ddd solid 1px;
}
.post-content table th {
  color: #fff;
}
.post-content table thead th {
  background: #5e6265;
}
.post-content table tbody th {
  background: #919598;
}
.post-content table.table-line table,
.post-content table.table-line th,
.post-content table.table-line td {
  border-color: #fff;
}
.post-content table.table-line th {
  background: transparent;
  color: #241913;
  font-weight: bold;
}
.post-content table.table-line thead th {
  background: #5e6265;
  color: #fff;
}
.post-content table.table-line tr {
  background: #eee;
}
.post-content table.table-line tr:nth-child(2n+1) {
  background: #ddd;
}
.post-content img.alignleft {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}
.post-content img.alignright {
  float: right;
  margin-left: 15px;
  margin-bottom: 15px;
}

.post-content h2:first-child {
  margin-top: 0;
}

.post-cta {
  margin: 0 0 28px;
  background: #131D2A;
  color: #fff;
}
.post-cta .post-cta-inner {
  padding: 30px 45px;
}
.post-cta .cta-post-title {
  padding: 30px 45px;
  font-size: 36px;
  margin-bottom: 14px;
  text-align: center;
  border-bottom: 1px solid #eee;
}
.post-cta .post-cta-img {
  float: right;
  width: 230px;
  margin: 0 0 20px 20px;
}
.post-cta .post-cta-cont {
  overflow: hidden;
}
.post-cta .post-cta-btn {
  margin: 10px 0;
}
.post-cta .post-cta-btn a {
  background: #F86222;
  color: #fff;
  border-radius: 8px;
  display: block;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  width: 60%;
  margin: 0 auto 20px;
}
.post-cta .post-cta-btn a:hover {
  background: #fa8553;
}
.post-cta p {
  margin-bottom: 1em;
}
.post-cta .btn {
  width: 100%;
  display: block;
  border-radius: 3px;
  text-align: center;
  color: #fff;
  padding: 14px 0;
  -webkit-transition: background .3s ease-in-out;
          transition: background .3s ease-in-out;
  background: #3B4552;
}
.post-cta .btn:hover {
  text-decoration: none;
  background: #FF6C00;
}

.post-share {
  padding: 30px 45px;
}
.post-share .post-share-list1,
.post-share .post-share-list2,
.post-share .post-share-list3,
.post-share .post-share-list4 {
  overflow: hidden;
  padding: 30px 0;
  margin-left: -2.08%;
}
.post-share .post-share-list1 a,
.post-share .post-share-list2 a,
.post-share .post-share-list3 a,
.post-share .post-share-list4 a {
  text-decoration: none;
  -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
  display: block;
  border: 1px #eee solid;
  border-radius: 3px;
  padding: 20px 0;
}
.post-share .post-share-list1 a:hover,
.post-share .post-share-list2 a:hover,
.post-share .post-share-list3 a:hover,
.post-share .post-share-list4 a:hover {
  text-decoration: none;
  background: #f7f7f7;
}
.post-share .post-share-list1 li,
.post-share .post-share-list2 li,
.post-share .post-share-list3 li,
.post-share .post-share-list4 li {
  text-align: center;
  float: left;
  margin-left: 2.08%;
}
.post-share .post-share-list1 i,
.post-share .post-share-list1 .big,
.post-share .post-share-list2 i,
.post-share .post-share-list2 .big,
.post-share .post-share-list3 i,
.post-share .post-share-list3 .big,
.post-share .post-share-list4 i,
.post-share .post-share-list4 .big {
  font-size: 2em;
}
.post-share .post-share-list1 li {
  width: 97.92%;
}
.post-share .post-share-list2 li {
  width: 47.92%;
}
.post-share .post-share-list3 li {
  width: 31.25%;
  font-size: .8em;
}
.post-share .post-share-list4 li {
  width: 22.92%;
}
.post-share .post-share-list4 {
  text-align: center;
}
.post-share .post-share-list4 i,
.post-share .post-share-list4 .big {
  display: block;
}
.post-share .post-share-list4 .big {
  font-size: 1.2em;
}
.post-share .post-share-facebook a:hover {
  color: #305097;
}
.post-share .post-share-twitter a:hover {
  color: #00aced;
}
.post-share .post-share-google a:hover {
  color: #db4a39;
}
.post-share .post-share-feedly a:hover {
  color: #2bb24c;
}

.post-footer {
  border-radius: 0;
  padding: 20px 64px;
  overflow: hidden;
  clear: both;
}
.post-footer ul {
  overflow: hidden;
}
.post-footer ul li a:hover {
  text-decoration: underline;
}
.post-footer .bzb-sns-btn {
  padding: 30px 0;
}

.post-footer .bzb-sns-btn li {
  vertical-align: top;
}
.post-footer .bzb-sns-btn  li .fb_iframe_widget span{
  vertical-align: top !important;
}
.post-footer-list {
  padding: 20px 0;
}

.post-author {
  margin-bottom: 40px;
  padding: 40px 45px;
  border: 1px solid #e5e5e5;
  color: #241913;
  background: #fff;
}
.post-author .post-author-img {
  height: 100%;
  float: left;
}
.post-author .post-author-img img {
  width: 100px;
  height: auto;
  border: 1px solid #e5e5e5;
}
.post-author .post-author-img .inner {
  padding: 0;
}
.post-author .row {
  margin-right: -10px;
  margin-left: -10px;
}
.post-author .row .gr1, .post-author .row .gr2, .post-author .row .gr3, .post-author .row .gr4, .post-author .row .gr5, .post-author .row .gr6, .post-author .row .gr7, .post-author .row .gr8, .post-author .row .gr9, .post-author .row .gr10, .post-author .row .gr11, .post-author .row .gr12 {
  padding-left: 10px;
  padding-right: 10px;
}
.post-author a {
  color: #3B4552;
}
.post-author .post-author-meta {
  color: #241913;
  margin-left: 120px;
}
.post-author .post-author-meta h4 {
  margin: 0 40px 10px 0;
}
.post-author .post-author-meta p {
  margin: 0 40px 20px 0;
}

.post-header-meta {
  overflow: hidden;
  margin-bottom: 26px;
}
.post-header-meta .bzb-sns-btn {
  padding: 20px 0 10px;
  float: left;
  width: 400px;
  overflow: hidden;
}
.post-header-meta .post-header-category {
  float: right;
  width: 300px;
  text-align: right;
  padding: 20px 0 10px;
}

.bzb-sns-btn {
  padding: 0;
  margin: 0;
  font-size: 0;
}
.bzb-sns-btn li {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  margin: 4px;
}
/*
.bzb-sns-btn li.bzb-facebook {
  width: 98px;
}
.bzb-sns-btn li.bzb-facebook span {
  vertical-align: top !important;
}
.bzb-sns-btn li.bzb-twitter {
  width: 93px;
}
.bzb-sns-btn li.bzb-googleplus {
  width: 65px;
}
*/
.post-autot
#comments {
  padding: 40px;
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
  background: #fff;
}
.post-autot
#comments h4,
.post-autot
#comments h3 {
  margin: 0 0 24px;
  border-bottom: 5px solid #3B4552;
  font-size: 18px;
  padding: 8px 0;
}
.post-autot
#comments h4 i,
.post-autot
#comments h3 i {
  color: #3B4552;
}

.comment-list > .comment {
  margin-bottom: 40px;
  border-bottom: 1px #eee solid;
}

.comment-list > .comment > .comment-body {
  padding: 0 20px;
  margin-bottom: 20px;
}

.comment-list .children {
  margin-left: 45px;
}
.comment-list .children .comment-body {
  padding: 20px 30px;
  margin-bottom: 20px;
  background: #f7f7f7;
}

.comment-author {
  float: left;
  vertical-align: top;
  font-size: 12px;
  margin-left: 10px;
}
.comment-author img {
  vertical-align: top;
}

.comment-meta {
  font-size: 12px;
  margin-bottom: 12px;
}

.reply a {
  border-radius: 3px;
  padding: 3px 5px;
  font-size: 12px;
  -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}
.reply a:before {
  content: ' ';
  font-family: 'FontAwesome';
}
.reply a:hover {
  text-decoration: none;
}

.comment-form-comment label {
  display: none;
}
.comment-form-comment textarea {
  width: 80%;
  margin: 20px 0;
  border-radius: 3px;
}

.form-allowed-tags {
  font-size: 12px;
  margin-bottom: 20px;
  display: none;
}

.comment-meta:after {
  content: ' ';
  display: block;
  clear: both;
}

.comments-title {
  font-size: 24px;
  padding: 20px 0;
  margin-bottom: 30px;
}

.comment-form-author,
.comment-form-email,
.comment-form-url {
  overflow: hidden;
  margin: 10px 0;
}
.comment-form-author label,
.comment-form-email label,
.comment-form-url label {
  width: 15%;
  float: left;
  font-size: 12px;
}
.comment-form-author input,
.comment-form-email input,
.comment-form-url input {
  width: 40%;
  float: left;
  margin-left: 5%;
  border-radius: 3px;
  padding: 5px;
}

.form-submit #submit {
  width: 240px;
  line-height: 24px;
  border: none;
  border-radius: 3px;
  -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}
.form-submit #submit:hover {
  cursor: pointer;
}

.comment-form-comment textarea {
  width: 95%;
  padding-left: 2%;
  padding-right: 2%;
}

.comment-form {
  overflow: hidden;
}

.comment-form-author,
.comment-form-email {
  width: 49%;
  margin: 0;
}
.comment-form-author label,
.comment-form-author input,
.comment-form-email label,
.comment-form-email input {
  width: 90%;
  float: none;
  margin: 0 0 10px;
}

.comment-form-author {
  float: left;
}

.comment-form-email {
  float: right;
}

/* loop
---------------------------------------- */
.cat-content {
  background: #fff;
  padding: 40px;
  margin-bottom: 30px;
}

.post-loop-wrap article {
  width: 100%;
  margin: 0 0 60px;
}
.post-loop-wrap article p {
  margin-top: 0;
}
.post-loop-wrap .post-title {
  margin-bottom: 0;
}
.post-loop-wrap .post-thumbnail {
  width: 100%;
}
.post-loop-wrap .post-thumbnail img {
  max-width: 100%;
  height: auto;
}
.post-loop-wrap .more-link {
  border: 1px #3B4552 solid;
  padding: 8px 20px;
  margin-bottom: 64px;
  color: #3B4552;
}
.post-loop-wrap .more-link:hover {
  background: #3B4552;
  color: #fff;
  text-decoration: none;
}
.post-loop-wrap .post-footer {
  border-top: 1px #eee solid;
  padding: 0;
  overflow: hidden;
}
.post-loop-wrap .post-footer a.morelink {
  display: block;
  background: #3B4552;
  color: #fff;
  text-align: center;
  padding: 12px;
}

/* pager */
.pagination {
  clear: both;
  padding: 20px 0;
  position: relative;
  font-size: 16px;
  line-height: 22px;
  overflow: hidden;
}

.pagination a {
  background: #fff;
}

.pagination span, .pagination a {
  display: block;
  float: left;
  margin: 2px 2px 2px 0;
  padding: 6px 9px 5px 9px;
  text-decoration: none;
  width: auto;
  color: #241913;
}

.pagination a:hover {
  background: #999999;
  color: #fff;
}

.pagination .current {
  padding: 6px 9px 5px 9px;
  background: #999999;
  color: #fff;
}

/* ----------------------------------------
* side
---------------------------------------- */
.side-widget-area {
  padding: 0;
}

.side-widget {
  margin-bottom: 40px;
  padding-bottom: 40px;
  line-height: 1.6;
  font-size: 14px;
}
.side-widget .side-title {
  margin: 0 0 32px;
  font-size: 15px;
  background: #ebebeb;
  border: 1px solid #e4e4e4;
}
.side-widget a {
  color: #47B39D;
  text-decoration: underline;
  display: block;
}
.side-widget a:hover {
  color: #47B39D;
  text-decoration: none;
}
.side-widget ul li {
  padding: 16px 0;
  border-bottom: 1px solid #e5e5e5;
}
.side-widget .side-title {
  margin: 0 0 13px;
  padding: 8px;
  font-size: 16px;
}
.side-widget.widget_recent_comments a {
  background: none;
}
.side-widget .post-date {
  margin: 0 0 0 36px;
  font-size: 13px;
  color: #999999;
}
.side-widget .post-share-fb .pas {
  display: none;
}

/* widget_views */
.widget_views a {
  display: inline;
}

/* search */
.widget_search {
  overflow: hidden;
  background: #fff;
  border: 1px solid #e5e5e5;
  padding-bottom: 0;
  border-radius: 2px;
}
.widget_search form div {
  position: relative;
  padding-right: 40px;
}
.widget_search label {
  display: none;
}
.widget_search input[type=text] {
  line-height: 18px;
  padding: 8px 13px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  float: left;
}
.widget_search button {
  float: right;
  position: absolute;
  top: 0;
  right: 0;
  vertical-align: top;
  line-height: 18px;
  border: none;
  border-radius: 3px;
  width: 40px;
  padding: 8px 5px;
  -webkit-transition: background .3s ease-in-out;
          transition: background .3s ease-in-out;
  background: transparent;
  font-family: 'FontAwesome';
  font-size: 21px;
  color: #5e6265;
}
.widget_search button:hover {
  cursor: pointer;
}

#searchform form input[type="text"],
#searchform form input[type="email"],
#searchform form input[type="url"],
#searchform form input[type="tel"],
#searchform form input[type="number"],
#searchform form input[type="date"],
#searchform form textarea {
  border-radius: 3px;
  padding: 12px;
  max-width: 100%;
  font-size: 16px;
}
#searchform form textarea {
  width: 80%;
}
#searchform form input[type="submit"] {
  padding: 12px 20px;
}

/* comment */
.recentcomments {
  color: #808080;
  font-size: 12px;
}
.recentcomments a {
  color: #241913;
  font-size: 14px;
}

/* 実装中止----------- */
/* calendar */
.widget_calendar {
  border-radius: 3px;
  font-size: 16px;
}
.widget_calendar .side-widget-inner {
  border-radius: 3px;
  padding: 0 20px 20px;
}
.widget_calendar table {
  width: 100%;
}
.widget_calendar caption {
  border-radius: 3px 3px 0 0;
  padding: 14px 20px;
  margin: 0 -20px 20px;
  font-size: 18px;
  text-align: center;
}
.widget_calendar a {
  color: #666;
}
.widget_calendar li {
  margin-bottom: 1em;
}
.widget_calendar thead,
.widget_calendar tfoot,
.widget_calendar tbody {
  margin: 0 20px;
}
.widget_calendar th,
.widget_calendar td {
  text-align: center;
}
.widget_calendar tbody a {
  display: block;
}
.widget_calendar tbody a:hover {
  text-decoration: none;
}

/* follow */
#side .share-list-wrap {
  margin: 0 -20px 20px;
  background: #fff;
  padding: 20px;
}
#side .share-list-wrap .post-share-list1,
#side .share-list-wrap .post-share-list2,
#side .share-list-wrap .post-share-list3,
#side .share-list-wrap .post-share-list4 {
  overflow: hidden;
  margin-left: -1%;
}
#side .share-list-wrap .post-share-list1 li,
#side .share-list-wrap .post-share-list2 li,
#side .share-list-wrap .post-share-list3 li,
#side .share-list-wrap .post-share-list4 li {
  float: left;
  width: 24%;
  margin-left: 1%;
}
#side .share-list-wrap .post-share-list1 li a,
#side .share-list-wrap .post-share-list2 li a,
#side .share-list-wrap .post-share-list3 li a,
#side .share-list-wrap .post-share-list4 li a {
  border-radius: 100%;
  background: #fff;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 60px;
  height: 60px;
  font-size: 32px;
  color: #5e6265;
}
#side .share-list-wrap .post-share-list1 li a .follow-on,
#side .share-list-wrap .post-share-list1 li a .big,
#side .share-list-wrap .post-share-list2 li a .follow-on,
#side .share-list-wrap .post-share-list2 li a .big,
#side .share-list-wrap .post-share-list3 li a .follow-on,
#side .share-list-wrap .post-share-list3 li a .big,
#side .share-list-wrap .post-share-list4 li a .follow-on,
#side .share-list-wrap .post-share-list4 li a .big {
  display: none;
}
#side .share-list-wrap .post-share-list1 li.post-share-facebook a:hover,
#side .share-list-wrap .post-share-list2 li.post-share-facebook a:hover,
#side .share-list-wrap .post-share-list3 li.post-share-facebook a:hover,
#side .share-list-wrap .post-share-list4 li.post-share-facebook a:hover {
  color: #305097;
}
#side .share-list-wrap .post-share-list1 li.post-share-twitter a:hover,
#side .share-list-wrap .post-share-list2 li.post-share-twitter a:hover,
#side .share-list-wrap .post-share-list3 li.post-share-twitter a:hover,
#side .share-list-wrap .post-share-list4 li.post-share-twitter a:hover {
  color: #00aced;
}
#side .share-list-wrap .post-share-list1 li.post-share-google a:hover,
#side .share-list-wrap .post-share-list2 li.post-share-google a:hover,
#side .share-list-wrap .post-share-list3 li.post-share-google a:hover,
#side .share-list-wrap .post-share-list4 li.post-share-google a:hover {
  color: #db4a39;
}
#side .share-list-wrap .post-share-list1 li.post-share-feedly a:hover,
#side .share-list-wrap .post-share-list2 li.post-share-feedly a:hover,
#side .share-list-wrap .post-share-list3 li.post-share-feedly a:hover,
#side .share-list-wrap .post-share-list4 li.post-share-feedly a:hover {
  color: #2bb24c;
}

/* author */
#side-author {
  overflow: hidden;
  font-size: 12px;
}
#side-author h4 {
  padding: 12px 0;
  margin-bottom: 20px;
  font-size: 16px;
}
#side-author .side-author-img {
  float: left;
  width: 100px;
}
#side-author .side-author-meta {
  float: right;
  width: 180px;
}

/* ----------------------------------------
* footer
---------------------------------------- */
/* Facebook Like Box width: 100% */
.post-share-fb.side-widget{
  text-align: center;
}
div.post-share-fb .fbcomments,
div.post-share-fb .fb_iframe_widget,
div.post-share-fb .fb_iframe_widget[style],
div.post-share-fb .fb_iframe_widget iframe[style],
div.post-share-fb .fbcomments iframe[style] *,
div.post-share-fb .fb_iframe_widget span {
  max-width: 100% !important;
}
#footer .fbcomments,
#footer .fb_iframe_widget,
#footer .fb_iframe_widget[style],
#footer .fb_iframe_widget iframe[style],
#footer .fbcomments iframe[style] *,
#footer .fb_iframe_widget span {
  max-width: 100% !important;
}

#footer {
  color: #fff;
  border-top: 8px solid #3B4552;
}
#footer .fb-like-box,
#footer .fb-like-box > span,
#footer iframe {
  width: 100% !important;
  box-sizing: border-box;
}
#footer .footer-logo {
  font-size: 24px;
}
#footer a {
  color: #fff;
}
#footer a:hover {
  color: #ccc;
}
#footer .wrap {
  padding: 30px 0;
}
#footer .post-share {
  padding-right: 0;
  padding-left: 0;
}
#footer .row {
  margin-left: -15px;
  margin-right: -15px;
}
#footer .row .gr1,
#footer .row .gr2,
#footer .row .gr3,
#footer .row .gr4,
#footer .row .gr5,
#footer .row .gr6,
#footer .row .gr7,
#footer .row .gr8,
#footer .row .gr9,
#footer .row .gr10,
#footer .row .gr11,
#footer .row .gr12 {
  padding-left: 15px;
  padding-right: 15px;
}

#footer-brand-area {
  padding-bottom: 32px;
  margin-bottom: 32px;
  border-bottom: 1px solid #3B4552;
}

#footer-content-area {
  font-size: 14px;
}
#footer-content-area h4 {
  font-size: 16px;
}
#footer-content-area i.fa {
  margin-right: 12px;
}
#footer-content-area #footer-cont-about li,
#footer-content-area #footer-cont-content li {
  position: relative;
}
#footer-content-area #footer-cont-about li:before,
#footer-content-area #footer-cont-content li:before {
  content: '';
  font-family: FontAwesome;
  position: absolute;
  top: 7px;
  left: 0;
}
#footer-content-area #footer-cont-about li a,
#footer-content-area #footer-cont-content li a {
  padding: 8px 12px 8px 14px;
  display: inline-block;
}
#footer-content-area #footer-cont-about li a:hover,
#footer-content-area #footer-cont-content li a:hover {
  text-decoration: none;
}
#footer-content-area #footer-cont-sns a {
  display: block;
  padding: 8px 12px 8px 0;
}
#footer-content-area #footer-cont-sns a:hover {
  text-decoration: none;
}

.footer-01 {
  background: #031731;
  padding: 48px 0;
}
.footer-01 .footer-address {
  text-align: right;
}

.footer-02 {
  background: #010A17;
}
.footer-02 .footer-copy {
  text-align: center;
  font-size: 12px;
}

/* ----------------------------------------
* LP
---------------------------------------- */
.single-lp {
  padding: 40px 0;
}
.single-lp .lp-wrap {
  width: 1157px;
  border: 1px solid #eee;
  margin: 0 auto;
  background: #fff;
  padding: 0;
}
.single-lp .lp-thumbnail {
  border: 1px #ccc solid;
  float: right;
  margin: 0 0 13px 13px;
  border: 1px #ccc solid;
}
.single-lp .lp-thumbnail img {
  vertical-align: top;
}
.single-lp .post-content {
  padding: 0;
}
.single-lp #lp-header {
  background: #47B39D;
  padding: 56px;
  color: #fff;
}
.single-lp #lp-header h1 {
  font-size: 32px;
  color: #fff;
  text-align: center;
}
.single-lp dt, .single-lp dd {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}
.single-lp #content {
  padding: 40px 56px;
}
.single-lp #main {
  width: 100%;
  float: left;
  overflow: hidden;
}
.single-lp .main-inner {
  margin-right: 350px;
}
.single-lp #side {
  width: 320px;
  float: left;
  margin-left: -320px;
}
.single-lp .post-footer {
  padding: 20px 0;
}
.single-lp .post-footer .bzb-sns-btn {
  padding: 0;
}
.single-lp .lp-form {
  background: #494c4e;
  color: #fff;
  padding: 30px;
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.single-lp .lp-form h3{
  font-size: 18px;
  margin-bottom: 12px;
  font-weight: bold;
}
.single-lp .lp-form input[type=text],
.single-lp .lp-form input[type=email] {
  width: 90%;
  padding: 10px 5%;
  border: none;
}
.single-lp .lp-form input[type=submit],
.single-lp .lp-form button {
  width: 100%;
  padding: 10px 0;
  background: #F86222;
  color: #fff;
  border-bottom: 5px solid #e04807;
  -webkit-transition: all ease-in-out 0.3s;
          transition: all ease-in-out 0.3s;
  border-radius: 3px;
}
.single-lp .lp-form input[type=submit]:hover,
.single-lp .lp-form button:hover {
  background: #f9743b;
}
.single-lp .lp-form dl {
  margin-bottom: 13px;
}/* one-column */
.one-column.single-lp #main{
  float: none;
}
.one-column.single-lp .main-inner {
  margin-left: 0;
  margin-right: 0;
}
.one-column.single-lp #side{
  float: none;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
.single-lp #side {
  width: 320px;
  margin-left: -320px;
}
.single-lp.right-content #side {
  width: 320px;
  margin-left: -100%;
}
.single-lp.right-content .main-inner{
  margin-left: 350px;
  margin-right: 0;
}
@media screen and ( max-width: 1200px ){
  .single-lp.right-content #side{
    width: 100%;
    margin: 0;
    float: none;
  }
  .single-lp.right-content .main-inner{
    margin: 0 0 40px;
    width: 100%;
  }
}

/* ----------------------------------------
* pagetop
---------------------------------------- */
.pagetop {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 50px;
  color: #fff;
}
.pagetop span {
  display: block;
  border-radius: 25px;
  background: #2b2b2b;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 40px;
  font-size: 36px;
  opacity: .8;
}

/* ----------------------------------------
* レスポンシブ
---------------------------------------- */
#header-nav-btn,
#gnav-sp {
  display: none;
}

@media screen and (max-width: 1200px) {
  /* laptop start */
  body.home .wrap {
    width: auto;
    margin: 0 36px;
  }

  .post-header,
  .post-author {
    padding: 36px;
  }

  .post-content,
  .post-footer {
    padding-left: 36px;
    padding-right: 36px;
  }

  .single-lp #gnav-sp {
    display: none;
  }
  .single-lp .lp-wrap {
    width: auto;
    margin: 0 36px;
  }
  .single-lp #main,
  .single-lp #side,
  .single-lp .main-inner {
    width: 100%;
    float: none;
    margin: 0 0 20px;
  }

  /* end start */
}
@media screen and (max-width: 991px) {
  /* tablet */
  body.home .wrap,
  .wrap {
    width: auto;
    margin: 0 24px;
  }

  body.home #front-service {
    background-image: none;
  }

  /* header */
  #header {
    padding: 0;
  }
  #header .wrap {
    width: auto;
    margin: 0 24px;
  }

  #header-nav-btn {
    display: block;
    width: 116px;
    line-height: 92px;
    float: right;
  }
  #header-nav-btn a {
    display: block;
    text-align: center;
    display: block;
    font-size: 32px;
    background: #3B4552;
  }

  #header-fnav-area {
    display: none;
  }

  /* gnav */
  #gnav {
    display: none;
  }

  .dummy {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 10;
  }

  #gnav-sp {
    display: none;
    background: #3B4552;
    display: block;
    color: #fff;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, Verdana, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    z-index: 100;
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
  }
  #gnav-sp .wrap {
    width: 94%;
    margin: 0 3%;
    padding: 36px 0;
  }
  #gnav-sp .wrap a {
    color: #fff;
  }
  #gnav-sp #header-cont-content h4,
  #gnav-sp #header-cont-about h4,
  #gnav-sp #header-cont-sns h4 {
    font-weight: bold;
    margin-bottom: 16px;
  }
  #gnav-sp #header-cont-content li,
  #gnav-sp #header-cont-about li,
  #gnav-sp #header-cont-sns li {
    font-size: 14px;
  }
  #gnav-sp #header-cont-content li a,
  #gnav-sp #header-cont-about li a,
  #gnav-sp #header-cont-sns li a {
    padding: 10px 12px;
  }
  #gnav-sp #header-cont-content ul {
    margin-left: -2%;
  }
  #gnav-sp #header-cont-content li {
    margin-left: 2%;
    float: left;
    width: 48%;
  }
  #gnav-sp #header-cont-content li a {
    display: block;
    position: relative;
  }
  #gnav-sp #header-cont-content li a:before {
    font-family: 'FontAwesome';
    content: '\f105';
    position: absolute;
    left: 0;
    top: 8px;
  }
  #gnav-sp #header-cont-content .children {
    display: none;
  }
  #gnav-sp #footer-nav li a {
    display: block;
    padding: 8px 12px;
    position: relative;
  }
  #gnav-sp #footer-nav li a:before {
    font-family: 'FontAwesome';
    content: '\f105';
    position: absolute;
    left: 0;
    top: 8px;
  }
  #gnav-sp #footer-nav .children {
    display: none;
  }
  #gnav-sp #header-cont-sns li a {
    display: block;
    padding: 8px 12px 8px 0;
  }

  /* front page */
  body.home #main_visual h2 {
    margin-top: 0;
    font-size: 24px;
  }

  body.home #main_visual p {
    width: 84%;
    margin-right: 8%;
    margin-left: 8%;
  }

  body.home .front-loop {
    margin-left: 0;
  }

  body.home .front-loop .popular_post_box {
    width: 32%;
    margin: 0 .5%;
  }
  body.home .front-loop .popular_post_box .wrap-a {
    display: block;
    border: 1px solid #e5e5e5;
  }
  body.home .front-loop .popular_post_box .wrap-a:hover {
    background: #fafafa;
    text-decoration: none;
  }
  body.home .front-loop .popular_post_box .wrap-a h3,
  body.home .front-loop .popular_post_box .wrap-a ul {
    margin-left: 10px;
    margin-right: 10px;
  }
  body.home .front-loop .popular_post_box img {
    width: 100%;
    height: auto;
  }
  body.home .front-loop .popular_post_box.rank-4, body.home .front-loop .popular_post_box.rank-5, body.home .front-loop .popular_post_box.recent-4, body.home .front-loop .popular_post_box.recent-5 {
    display: none;
  }

  body.home .front-main-cont .tri-border {
    display: none;
  }

  body.home #front-contents .c_box.c_box_left .c_box_inner,
  body.home #front-contents .c_box.c_box_right .c_box_inner {
    width: 100%;
    float: none;
  }
  body.home #front-contents .c_box.c_box_left .c_title,
  body.home #front-contents .c_box.c_box_right .c_title {
    text-align: center;
  }
  body.home #front-contents .c_box.c_box_left .c_img_box,
  body.home #front-contents .c_box.c_box_right .c_img_box {
    position: relative;
    height: 300px;
    width: 100%;
    margin-bottom: 24px;
  }
  body.home #front-contents .c_box.c_box_left .c_text h4,
  body.home #front-contents .c_box.c_box_right .c_text h4 {
    text-align: center;
  }
  body.home #front-contents .c_box.c_box_left .c_btn,
  body.home #front-contents .c_box.c_box_right .c_btn {
    text-align: center;
  }
  body.home #front-contents .c_box.c_box_left .c_btn a,
  body.home #front-contents .c_box.c_box_right .c_btn a {
    margin-right: auto;
    margin-left: auto;
  }

  body.home #front-service .front-service-inner {
    margin-left: 0;
  }
  body.home #front-service .front-service-inner .c_box {
    width: 100%;
    float: none;
    margin: 0 0 20px;
  }

  body.home #front-company .c_img_box {
    height: 300px;
    position: relative;
  }
  body.home #front-company .c_img_box,
  body.home #front-company .c_box_inner {
    float: none;
    width: 100%;
  }

  .cat-content .post-header,
  article.page .post-header,
  article.post .post-header {
    padding: 56px 44px;
  }

  article.page .post-content {
    padding: 40px;
  }

  .post-header {
    padding: 56px 44px 0;
  }

  .post-content {
    padding: 40px;
  }
  .post-content h2 {
    margin-left: -52px;
  }

  .post-meta-area {
    background: #fff;
    color: #241913;
  }
  .post-meta-area .post-meta {
    width: 40%;
    float: left;
    text-align: left;
  }
  .post-meta-area .post-meta .date {
    background: transparent;
    text-align: left;
  }
  .post-meta-area .bzb-sns-btn {
    height: auto;
  }
  .post-meta-area .bzb-sns-btn .sharrre {
    margin: 0 5px 0 0;
    float: left !important;
    width: 20%;
    overflow: hidden;
  }
  .post-meta-area .bzb-sns-btn .sharrre.twitter a, .post-meta-area .bzb-sns-btn .sharrre.facebook a, .post-meta-area .bzb-sns-btn .sharrre.googlePlus a, .post-meta-area .bzb-sns-btn .sharrre.hatena a {
    background: transparent;
    display: block;
    padding: 4px 24px;
    color: #241913;
  }
  .post-meta-area .bzb-sns-btn .sharrre.twitter a .share, .post-meta-area .bzb-sns-btn .sharrre.facebook a .share, .post-meta-area .bzb-sns-btn .sharrre.googlePlus a .share, .post-meta-area .bzb-sns-btn .sharrre.hatena a .share {
    display: none;
    text-align: center;
    float: left;
  }
  .post-meta-area .bzb-sns-btn .sharrre.twitter a:hover, .post-meta-area .bzb-sns-btn .sharrre.facebook a:hover, .post-meta-area .bzb-sns-btn .sharrre.googlePlus a:hover, .post-meta-area .bzb-sns-btn .sharrre.hatena a:hover {
    background: transparent;
  }
  .post-meta-area .bzb-sns-btn .s_buttons {
    font-size: 14px;
    padding-top: 20px;
  }
  .post-meta-area .loop-comment-icon {
    padding: 4px 12px;
    background: transparent !important;
    text-align: center;
    float: right;
  }

  #footer-facebook {
    display: none;
  }

  #footer-list-area {
    width: 100%;
  }

  .single-lp #gnav-sp {
    display: none;
  }
  .single-lp .lp-wrap {
    width: auto;
    margin: 0 24px;
  }
  .single-lp .lp-form .submit {
    width: 50%;
  }

  /* tablet end */
}
@media screen and (max-width: 767px) {
  /* phone */
  .wrap {
    overflow: hidden;
  }

  .post-title {
    font-size: 21px;
    margin-bottom: 20px;
  }

  body.home .wrap,
  .wrap {
    margin: 0 12px;
  }

 .post-content table{
    overflow-x: auto;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    display: block;
    white-space: nowrap;
  }

  body.home #front-company dl dt,
  body.home #front-company dl dd {
    float: none;
    width: 100%;
    box-sizing: border-box;
  }
  body.home #front-company dl dt span,
  body.home #front-company dl dd span {
    padding: 0;
  }
  body.home #front-company dl dt {
    font-weight: bold;
    padding: 8px 12px 0;
  }
  body.home #front-company dl dd {
    border-top: none !important;
    padding: 4px 12px 8px;
  }

  #main {
    width: 100%;
    float: none;
  }

  #side {
    width: 100%;
    float: none;
  }

  .left-content #main {
    width: 100%;
    float: none;
  }
  .left-content #side {
    width: 100%;
    float: none;
  }

  .right-content #main {
    width: 100%;
    float: none;
  }
  .right-content #side {
    width: 100%;
    float: none;
  }

  .one-column #content .wrap {
    width: 94%;
    margin: 0 3%;
  }
  .one-column #content .wrap #main {
    width: 100%;
    float: none;
  }
  .one-column #content .wrap #side {
    width: 100%;
    float: none;
  }

  /* header */
  #header {
    padding: 0;
  }
  #header .wrap {
    padding: 0;
    margin: 0 12px;
  }
  #header #logo {
    float: none;
  }
  #header #logo img {
    vertical-align: top;
  }
  #header #header-right {
    height: auto;
  }
  #header #header-primary-nav {
    display: none;
  }

  #header-nav-btn {
    display: block;
    width: auto;
    margin: 0 -12px;
    line-height: 92px;
    float: none;
  }
  #header-nav-btn a {
    display: block;
    text-align: center;
    font-size: 16px;
    padding: 8px 0;
    line-height: 1.2;
    background: #3B4552;
    width: 100%;
  }

  .single-lp #lp-header {
    padding: 20px;
  }
  .single-lp .lp-thumbnail {
    float: none;
    margin: 0 0 13px;
  }
  .single-lp .lp-thumbnail img {
    width: 100%;
    height: auto;
  }
  .single-lp #content {
    padding: 20px;
  }

  #gnav-sp {
    display: none;
    top: 112px;
  }
  #gnav-sp ul {
    margin-bottom: 20px;
  }
  #gnav-sp #header-cont-content ul {
    margin-left: 0;
  }
  #gnav-sp #header-cont-content li {
    margin-left: 0;
    float: left;
    width: 100%;
  }

  /* loop */
  body.home .front-loop .popular_post_box {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
  }

  body.home #front-contents .c_text .c_btn a {
    width: 100%;
  }

  /* single */
  .cat-content .post-header,
  article.page .post-header,
  article.post .post-header {
    padding: 20px;
  }

  .post-author {
    padding: 20px;
  }
  .post-author .post-author-meta {
    padding-top: 12px;
  }
  .post-author .post-author-meta p {
    margin-right: 0;
  }

  .post-meta-area .post-meta,
  .post-meta-area .post-meta-comment {
    float: none;
    width: 100%;
    padding: 0;
  }
  .post-meta-area .post-meta {
    border-bottom: 1px solid #e5e5e5;
  }
  .post-meta-area .post-meta .date {
    padding: 8px 20px;
  }
  .post-meta-area .post-meta-comment .author {
    border: none;
    padding: 8px 20px;
    text-align: left;
  }
  .post-meta-area .post-meta-comment .comments {
    padding: 8px 20px;
  }

  .post-content,
  .post-footer {
    padding: 20px;
  }

  .post-cta .cta-post-title {
    padding: 12px 20px;
    font-size: 18px;
  }
  .post-cta .post-cta-inner {
    padding: 0;
  }
  .post-cta .post-cta-cont {
    padding: 12px 20px;
  }
  .post-cta .post-cta-cont .post-cta-img {
    float: none;
    margin: 0 0 12px;
    width: 100%;
  }
  .post-cta .post-cta-btn a {
    width: 100%;
  }

  .comment-form-author,
  .comment-form-email {
    float: none;
    width: 100%;
  }

  .single-lp #gnav-sp {
    display: none;
  }
  .single-lp .lp-wrap {
    width: auto;
    margin: 0 24px;
  }
  .single-lp .lp-form input {
    width: 100% !important;
  }
  .single-lp .lp-form .submit {
    width: 100%;
  }

  /* phone end */
}
/* ----------------------------------------
* カラースキーム 01
---------------------------------------- */
/* ----------------------------------------
* frontpage
---------------------------------------- */
body.home.color01 #main_visual {
  background: #1DBBDA;
  background-image: -webkit-linear-gradient(bottom right, #1dbbda, #06abc8);
  background-image: linear-gradient(to top left, #1dbbda, #06abc8);
  color: #fff;
}
body.home.color01 .front-loop {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  background: #fff;
}
body.home.color01 .front-loop h2 {
  border-bottom: 1px solid #e5e5e5;
}
body.home.color01 .front-loop .popular_post_box h3 {
  color: #2B353E;
}
body.home.color01 .front-loop .popular_post_box h3 a {
  color: #2B353E;
}
body.home.color01 .front-loop .popular_post_box h3 a:hover {
  color: #FFC600;
}
body.home.color01 .front-loop .popular_post_box ul a {
  color: #2B353E;
}
body.home.color01 .front-loop .popular_post_box ul a:hover {
  color: #FFC600;
}
body.home.color01 .front-loop .popular_post_box .p_category {
  background: #06ABC8;
  color: #fff;
  color: #fff;
}
body.home.color01 .front-loop .popular_post_box .p_rank {
  background: #900;
  color: #fff;
}
body.home.color01 .front-loop .popular_post_box .p_date {
  background: #2B353E;
  color: #fff;
}
body.home.color01 .front-main-cont .front-cont-header {
  background: #2B353E;
  color: #fff;
}
body.home.color01 .front-main-cont .tri-border span {
  border-left: 28px solid transparent;
  border-left: 56px solid transparent;
  border-right: 56px solid transparent;
  border-top: 18px solid #2B353E;
}
body.home.color01 #front-contents .c_box {
  border-bottom: 1px solid #e5e5e5;
}
body.home.color01 #front-contents .c_box.c_box_left {
  background-color: #fff;
}
body.home.color01 #front-contents .c_box.c_box_right {
  background-color: #fafafa;
}
body.home.color01 #front-contents .c_number {
  background: #06ABC8;
  color: #fff;
}
body.home.color01 #front-contents h3 {
  color: #06ABC8;
}
body.home.color01 #front-contents .c_english {
  color: #06ABC8;
}
body.home.color01 #front-contents .c_text .c_btn a {
  background: #21262c;
  color: #fff;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
body.home.color01 #front-service {
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
}
body.home.color01 #front-service .front-service-inner h3 {
  color: #06ABC8;
}
body.home.color01 #front-service .front-service-inner .c_english {
  color: #06ABC8;
}
body.home.color01 #front-service .front-service-inner .c_text .c_btn a {
  background: #21262c;
  color: #fff;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
body.home.color01 #front-company {
  background: #fff;
}
body.home.color01 #front-company .c_box {
  border-bottom: 1px solid #e5e5e5;
}
body.home.color01 #front-company dl {
  border-bottom: 1px solid #e5e5e5;
}
body.home.color01 #front-company dl#front-company-1 dt {
  border-top: 2px solid #06ABC8;
}
body.home.color01 #front-company dl#front-company-1 dd {
  border-top: 1px solid #e5e5e5;
}
body.home.color01 #front-contact {
  background: #06ABC8;
}
body.home.color01 #front-contact .c_box_inner input[type=submit],
body.home.color01 #front-contact .c_box_inner button {
  background: #131D2A;
}

body.color01 {
  color: #2B353E;
}
body.color01 a {
  color: #2B353E;
}
body.color01 form input[type="submit"],
body.color01 form button {
  background: #2B353E;
  color: #fff;
}
body.color01 #header {
  background: #06ABC8;
}
body.color01 #header a {
  color: #fff;
}
body.color01 .breadcrumb-area {
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
}
body.color01 #gnav {
  background: #06ABC8;
}
body.color01 #gnav ul li:hover a {
  background: #07c0e1;
}
body.color01 #gnav ul li.current-menu-item a {
  background: #07c0e1;
}
body.color01 #gnav ul li a {
  color: #fff;
  background: #06ABC8;
}
body.color01 #gnav ul li a:hover {
  color: #fff;
  background: #07c0e1;
}
body.color01 #gnav ul li .sub-menu {
  background: #fff;
  border: 1px #e5e5e5 solid;
}
body.color01 #gnav ul li .sub-menu li {
  border-bottom: 1px #e5e5e5 solid;
}
body.color01 #gnav ul li .sub-menu li a {
  color: #2B353E;
  background: #fff;
}
body.color01 #gnav ul li .sub-menu li a:hover {
  background: #fafafa;
  color: #2B353E;
}
body.color01 #header-fnav-area #header-fnav-btn a {
  background: #07c0e1;
}
body.color01 #header-fnav-area #header-fnav {
  background: #fff;
  border: 1px #e5e5e5 solid;
}
body.color01 #header-fnav-area #header-fnav li {
  border-bottom: 1px #e5e5e5 solid;
}
body.color01 #header-fnav-area #header-fnav li a {
  color: #2B353E;
  background: #fff;
}
body.color01 #header-fnav-area #header-fnav li a:hover {
  background: #fafafa;
  color: #2B353E;
}
body.color01 .cat-content,
body.color01 article.post,
body.color01 article.page {
  background: #fff;
  border: 1px #e5e5e5 solid;
}
body.color01 .post-header {
  padding: 56px 64px 46px;
  border-bottom: 1px solid #e5e5e5;
}
body.color01 .post-header .cat-name span {
  border: 1px solid #06ABC8;
  color: #06ABC8;
}
body.color01 .post-title a {
  color: #2B353E;
}
body.color01 .post-title a:hover {
  color: #FFC600;
}
body.color01 .post-title a {
  color: #2B353E;
}
body.color01 .post-title a:hover {
  color: #FFC600;
}
body.color01 .post-meta-area {
  border-bottom: 1px solid #e5e5e5;
}
body.color01 .post-meta-area .post-meta-comment li {
  border-left: 1px solid #e5e5e5;
}
body.color01 .post-content hr {
  border-bottom: 1px solid #eee;
}
body.color01 .post-content h2 {
  border-left: 10px solid #131D2A;
  background: #2B353E;
  color: #fff;
}
body.color01 .post-content h3 {
  border-bottom: 2px solid #2B353E;
}
body.color01 .post-content h4 {
  border-left: 5px solid #131D2A;
  clear: both;
}
body.color01 .post-content blockquote {
  border: 1px #e5e5e5 solid;
  background: #fafafa;
}
body.color01 .post-content blockquote:before {
  color: #e7e7e7;
}
body.color01 .post-content blockquote cite {
  color: #808080;
}
body.color01 .post-content table {
  border: 1px #ddd solid;
}
body.color01 .post-content table th,
body.color01 .post-content table td {
  border: #ddd solid 1px;
}
body.color01 .post-content table th {
  color: #fff;
}
body.color01 .post-content table thead th {
  background: #5e6265;
}
body.color01 .post-content table tbody th {
  background: #919598;
}
body.color01 .post-content table.table-line table,
body.color01 .post-content table.table-line th,
body.color01 .post-content table.table-line td {
  border-color: #fff;
}
body.color01 .post-content table.table-line th {
  color: #2B353E;
}
body.color01 .post-content table.table-line thead th {
  background: #5e6265;
  color: #fff;
}
body.color01 .post-content table.table-line tr {
  background: #eee;
}
body.color01 .post-content table.table-line tr:nth-child(2n+1) {
  background: #ddd;
}
body.color01 .post-cta {
  background: #131D2A;
  color: #fff;
}
body.color01 .post-cta .cta-post-title {
  border-bottom: 1px solid #eee;
}
body.color01 .post-cta .post-cta-btn a {
  background: #F86222;
  color: #fff;
}
body.color01 .post-cta .post-cta-btn a:hover {
  background: #fa8553;
}
body.color01 .post-cta .btn {
  background: #2B353E;
}
body.color01 .post-cta .btn:hover {
  background: #FFC600;
}
body.color01 .post-share .post-share-list1 a,
body.color01 .post-share .post-share-list2 a,
body.color01 .post-share .post-share-list3 a,
body.color01 .post-share .post-share-list4 a {
  border: 1px #eee solid;
}
body.color01 .post-share .post-share-list1 a:hover,
body.color01 .post-share .post-share-list2 a:hover,
body.color01 .post-share .post-share-list3 a:hover,
body.color01 .post-share .post-share-list4 a:hover {
  background: #f7f7f7;
}
body.color01 .post-author {
  border: 1px solid #e5e5e5;
  color: #2B353E;
  background: #fff;
}
body.color01 .post-author a {
  color: #2B353E;
}
body.color01 .post-author .post-author-meta {
  color: #2B353E;
}
body.color01 #comments {
  border: 1px solid #e5e5e5;
  background: #fff;
}
body.color01 #comments h4 {
  border-bottom: 5px solid #2B353E;
}
body.color01 #comments h4 i {
  color: #2B353E;
}
body.color01 .comment-list > .comment {
  border-bottom: 1px #eee solid;
}
body.color01 .comment-list .children .comment-body {
  background: #f7f7f7;
}
body.color01 .cat-content {
  background: #fff;
}
body.color01 .post-loop-wrap .more-link {
  border: 1px #2B353E solid;
  color: #2B353E;
}
body.color01 .post-loop-wrap .more-link:hover {
  background: #2B353E;
  color: #fff;
}
body.color01 .post-loop-wrap .post-footer {
  border-top: 1px #eee solid;
}
body.color01 .post-loop-wrap .post-footer a.morelink {
  background: #2B353E;
  color: #fff;
}
body.color01 .pagination span, body.color01 .pagination a {
  color: #2B353E;
  background: #fff;
}
body.color01 .pagination a:hover {
  color: #fff;
  background: #3279BB;
}
body.color01 .pagination .current {
  background: #3279BB;
  color: #fff;
}
body.color01 .side-widget .side-title {
  background: #ebebeb;
  border: 1px solid #e4e4e4;
}
body.color01 .side-widget a {
  color: #06ABC8;
}
body.color01 .side-widget a:hover {
  color: #06ABC8;
}
body.color01 .side-widget ul li {
  border-bottom: 1px solid #e5e5e5;
}
body.color01 .side-widget .post-date {
  color: #999999;
}
body.color01 .widget_search {
  border: 1px solid #e5e5e5;
}
body.color01 .widget_search button {
  color: #5e6265;
}
body.color01 .recentcomments {
  color: #808080;
}
body.color01 .recentcomments a {
  color: #2B353E;
}
body.color01 #side .share-list-wrap {
  background: #fff;
}
body.color01 #footer {
  color: #fff;
  border-top: 8px solid #2B353E;
}
body.color01 #footer a {
  color: #fff;
}
body.color01 #footer a:hover {
  color: #ccc;
}
body.color01 #footer-brand-area {
  border-bottom: 1px solid #2B353E;
}
body.color01 .footer-01 {
  background: #031731;
}
body.color01 .footer-02 {
  background: #010A17;
}
body.color01 .single-lp .lp-wrap {
  border: 1px solid #eee;
  background: #fff;
}
body.color01 .single-lp .lp-thumbnail {
  border: 1px #ccc solid;
  border: 1px #ccc solid;
}
body.color01 .single-lp #lp-header {
  background: #06ABC8;
}
body.color01 .single-lp #lp-header h1 {
  color: #2B353E;
  border-bottom: 1px solid #eee;
}
body.color01 .single-lp .lp-form {
  background: #494c4e;
  color: #fff;
}
body.color01 .single-lp .lp-form input[type=submit],
body.color01 .single-lp .lp-form button {
  background: #F86222;
  color: #fff;
  border-bottom: 5px solid #e04807;
}
body.color01 .single-lp .lp-form input[type=submit]:hover,
body.color01 .single-lp .lp-form button:hover {
  background: #f9743b;
}
body.color01 .pagetop {
  color: #fff;
}
body.color01 .pagetop span {
  background: #2b2b2b;
}
body.color01.single-lp #lp-header{
  background: #1eabc6;
}

/* ----------------------------------------
* カラースキーム 02 青
---------------------------------------- */
/* ----------------------------------------
* frontpage
---------------------------------------- */
body.home.color02 #main_visual {
  background: #0063A2;
  background-image: -webkit-linear-gradient(bottom right, #0063a2, #005990);
  background-image: linear-gradient(to top left, #0063a2, #005990);
  color: #fff;
}
body.home.color02 .front-loop {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  background: #fff;
}
body.home.color02 .front-loop h2 {
  border-bottom: 1px solid #e5e5e5;
}
body.home.color02 .front-loop .popular_post_box h3 {
  color: #4E4E4E;
}
body.home.color02 .front-loop .popular_post_box h3 a {
  color: #4E4E4E;
}
body.home.color02 .front-loop .popular_post_box h3 a:hover {
  color: #14A0EE;
}
body.home.color02 .front-loop .popular_post_box ul a {
  color: #4E4E4E;
}
body.home.color02 .front-loop .popular_post_box ul a:hover {
  color: #14A0EE;
}
body.home.color02 .front-loop .popular_post_box .p_category {
  background: #005990;
  color: #fff;
  color: #fff;
}
body.home.color02 .front-loop .popular_post_box .p_rank {
  background: #900;
  color: #fff;
}
body.home.color02 .front-loop .popular_post_box .p_date {
  background: #36373C;
  color: #fff;
}
body.home.color02 .front-main-cont .front-cont-header {
  background: #36373C;
  color: #fff;
}
body.home.color02 .front-main-cont .tri-border span {
  border-left: 28px solid transparent;
  border-left: 56px solid transparent;
  border-right: 56px solid transparent;
  border-top: 18px solid #36373C;
}
body.home.color02 #front-contents .c_box {
  border-bottom: 1px solid #e5e5e5;
}
body.home.color02 #front-contents .c_box.c_box_left {
  background-color: #fff;
}
body.home.color02 #front-contents .c_box.c_box_right {
  background-color: #fafafa;
}
body.home.color02 #front-contents .c_number {
  background: #005990;
  color: #fff;
}
body.home.color02 #front-contents h3 {
  color: #005990;
}
body.home.color02 #front-contents .c_english {
  color: #005990;
}
body.home.color02 #front-contents .c_text .c_btn a {
  background: #14A0EE;
  color: #fff;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
body.home.color02 #front-service {
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
}
body.home.color02 #front-service .front-service-inner h3 {
  color: #005990;
}
body.home.color02 #front-service .front-service-inner .c_english {
  color: #005990;
}
body.home.color02 #front-service .front-service-inner .c_text .c_btn a {
  background: #005990;
  color: #fff;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
body.home.color02 #front-company {
  background: #fff;
}
body.home.color02 #front-company .c_box {
  border-bottom: 1px solid #e5e5e5;
}
body.home.color02 #front-company dl {
  border-bottom: 1px solid #e5e5e5;
}
body.home.color02 #front-company dl#front-company-1 dt {
  border-top: 2px solid #005990;
}
body.home.color02 #front-company dl#front-company-1 dd {
  border-top: 1px solid #e5e5e5;
}
body.home.color02 #front-contact {
  background: #005990;
}
body.home.color02 #front-contact .c_box_inner input[type=submit],
body.home.color02 #front-contact .c_box_inner button {
  background: #131D2A;
}

body.color02 {
  color: #4E4E4E;
}
body.color02 a {
  color: #14A0EE;
}
body.color02 form input[type="submit"],
body.color02 form button {
  background: #36373C;
  color: #fff;
}
body.color02 #header {
  background: #005990;
}
body.color02 #header a {
  color: #fff;
}
body.color02 .breadcrumb-area {
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
}
body.color02 #gnav {
  background: #005990;
}
body.color02 #gnav ul li:hover a {
  background: #0069aa;
}
body.color02 #gnav ul li.current-menu-item a {
  background: #0069aa;
}
body.color02 #gnav ul li a {
  color: #fff;
  background: #005990;
}
body.color02 #gnav ul li a:hover {
  color: #fff;
  background: #0069aa;
}
body.color02 #gnav ul li .sub-menu {
  background: #fff;
  border: 1px #e5e5e5 solid;
}
body.color02 #gnav ul li .sub-menu li {
  border-bottom: 1px #e5e5e5 solid;
}
body.color02 #gnav ul li .sub-menu li a {
  color: #36373C;
  background: #fff;
}
body.color02 #gnav ul li .sub-menu li a:hover {
  background: #fafafa;
  color: #36373C;
}
body.color02 #header-fnav-area #header-fnav-btn a {
  background: #0069aa;
}
body.color02 #header-fnav-area #header-fnav {
  background: #fff;
  border: 1px #e5e5e5 solid;
}
body.color02 #header-fnav-area #header-fnav li {
  border-bottom: 1px #e5e5e5 solid;
}
body.color02 #header-fnav-area #header-fnav li a {
  color: #36373C;
  background: #fff;
}
body.color02 #header-fnav-area #header-fnav li a:hover {
  background: #fafafa;
  color: #36373C;
}
body.color02 .cat-content,
body.color02 article.post,
body.color02 article.page {
  background: #fff;
  border: 1px #e5e5e5 solid;
}
body.color02 .post-header {
  padding: 56px 64px 46px;
  border-bottom: 1px solid #e5e5e5;
}
body.color02 .post-header .cat-name span {
  border: 1px solid #005990;
  color: #005990;
}
body.color02 .post-title a {
  color: #4E4E4E;
}
body.color02 .post-title a:hover {
  color: #14A0EE;
}
body.color02 .post-title a {
  color: #36373C;
}
body.color02 .post-title a:hover {
  color: #14A0EE;
}
body.color02 .post-meta-area {
  border-bottom: 1px solid #e5e5e5;
}
body.color02 .post-meta-area .post-meta-comment li {
  border-left: 1px solid #e5e5e5;
}
body.color02 .post-content hr {
  border-bottom: 1px solid #eee;
}
body.color02 .post-content h2 {
  border-left: 10px solid #131D2A;
  background: #36373C;
  color: #fff;
}
body.color02 .post-content h3 {
  border-bottom: 2px solid #36373C;
}
body.color02 .post-content h4 {
  border-left: 5px solid #131D2A;
  clear: both;
}
body.color02 .post-content blockquote {
  border: 1px #e5e5e5 solid;
  background: #fafafa;
}
body.color02 .post-content blockquote:before {
  color: #e7e7e7;
}
body.color02 .post-content blockquote cite {
  color: #808080;
}
body.color02 .post-content table {
  border: 1px #ddd solid;
}
body.color02 .post-content table th,
body.color02 .post-content table td {
  border: #ddd solid 1px;
}
body.color02 .post-content table th {
  color: #fff;
}
body.color02 .post-content table thead th {
  background: #5e6265;
}
body.color02 .post-content table tbody th {
  background: #919598;
}
body.color02 .post-content table.table-line table,
body.color02 .post-content table.table-line th,
body.color02 .post-content table.table-line td {
  border-color: #fff;
}
body.color02 .post-content table.table-line th {
  color: #4E4E4E;
}
body.color02 .post-content table.table-line thead th {
  background: #5e6265;
  color: #fff;
}
body.color02 .post-content table.table-line tr {
  background: #eee;
}
body.color02 .post-content table.table-line tr:nth-child(2n+1) {
  background: #ddd;
}
body.color02 .post-cta {
  background: #131D2A;
  color: #fff;
}
body.color02 .post-cta .cta-post-title {
  border-bottom: 1px solid #eee;
}
body.color02 .post-cta .post-cta-btn a {
  background: #F86222;
  color: #fff;
}
body.color02 .post-cta .post-cta-btn a:hover {
  background: #fa8553;
}
body.color02 .post-cta .btn {
  background: #36373C;
}
body.color02 .post-cta .btn:hover {
  background: #14A0EE;
}
body.color02 .post-share .post-share-list1 a,
body.color02 .post-share .post-share-list2 a,
body.color02 .post-share .post-share-list3 a,
body.color02 .post-share .post-share-list4 a {
  border: 1px #eee solid;
}
body.color02 .post-share .post-share-list1 a:hover,
body.color02 .post-share .post-share-list2 a:hover,
body.color02 .post-share .post-share-list3 a:hover,
body.color02 .post-share .post-share-list4 a:hover {
  background: #f7f7f7;
}
body.color02 .post-author {
  border: 1px solid #e5e5e5;
  color: #4E4E4E;
  background: #fff;
}
body.color02 .post-author a {
  color: #36373C;
}
body.color02 .post-author .post-author-meta {
  color: #4E4E4E;
}
body.color02 #comments {
  border: 1px solid #e5e5e5;
  background: #fff;
}
body.color02 #comments h4 {
  border-bottom: 5px solid #36373C;
}
body.color02 #comments h4 i {
  color: #36373C;
}
body.color02 .comment-list > .comment {
  border-bottom: 1px #eee solid;
}
body.color02 .comment-list .children .comment-body {
  background: #f7f7f7;
}
body.color02 .cat-content {
  background: #fff;
}
body.color02 .post-loop-wrap .more-link {
  border: 1px #36373C solid;
  color: #36373C;
}
body.color02 .post-loop-wrap .more-link:hover {
  background: #36373C;
  color: #fff;
}
body.color02 .post-loop-wrap .post-footer {
  border-top: 1px #eee solid;
}
body.color02 .post-loop-wrap .post-footer a.morelink {
  background: #36373C;
  color: #fff;
}
body.color02 .pagination span, body.color02 .pagination a {
  color: #4E4E4E;
  background: #fff;
}
body.color02 .pagination a:hover {
  color: #fff;
  background: #3279BB;
}
body.color02 .pagination .current {
  background: #3279BB;
  color: #fff;
}
body.color02 .side-widget .side-title {
  background: #ebebeb;
  border: 1px solid #e4e4e4;
}
body.color02 .side-widget a {
  color: #005990;
}
body.color02 .side-widget a:hover {
  color: #005990;
}
body.color02 .side-widget ul li {
  border-bottom: 1px solid #e5e5e5;
}
body.color02 .side-widget .post-date {
  color: #999999;
}
body.color02 .widget_search {
  border: 1px solid #e5e5e5;
}
body.color02 .widget_search button {
  color: #5e6265;
}
body.color02 .recentcomments {
  color: #808080;
}
body.color02 .recentcomments a {
  color: #4E4E4E;
}
body.color02 #side .share-list-wrap {
  background: #fff;
}
body.color02 #footer {
  color: #fff;
  border-top: 8px solid #36373C;
}
body.color02 #footer a {
  color: #fff;
}
body.color02 #footer a:hover {
  color: #ccc;
}
body.color02 #footer-brand-area {
  border-bottom: 1px solid #36373C;
}
body.color02 .footer-01 {
  background: #36373C;
}
body.color02 .footer-02 {
  background: #2E2F33;
}
body.color02 .single-lp .lp-wrap {
  border: 1px solid #eee;
  background: #fff;
}
body.color02 .single-lp .lp-thumbnail {
  border: 1px #ccc solid;
  border: 1px #ccc solid;
}
body.color02 .single-lp #lp-header {
  background: #005990;
}
body.color02 .single-lp #lp-header h1 {
  color: #36373C;
  border-bottom: 1px solid #eee;
}
body.color02 .single-lp .lp-form {
  background: #494c4e;
  color: #fff;
}
body.color02 .single-lp .lp-form input[type=submit],
body.color02 .single-lp .lp-form button {
  background: #F86222;
  color: #fff;
  border-bottom: 5px solid #e04807;
}
body.color02 .single-lp .lp-form input[type=submit]:hover,
body.color02 .single-lp .lp-form button:hover {
  background: #f9743b;
}
body.color02 .pagetop {
  color: #fff;
}
body.color02 .pagetop span {
  background: #2b2b2b;
}
body.color02.single-lp #lp-header{
  background: #015a92;
}

/* ----------------------------------------
* カラースキーム 03 紺
---------------------------------------- */
/* ----------------------------------------
* frontpage
---------------------------------------- */
body.home.color03 #main_visual {
  background: #394B57;
  background-image: -webkit-linear-gradient(bottom right, #394b57, #28343c);
  background-image: linear-gradient(to top left, #394b57, #28343c);
  color: #fff;
}
body.home.color03 .front-loop {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  background: #fff;
}
body.home.color03 .front-loop h2 {
  border-bottom: 1px solid #e5e5e5;
}
body.home.color03 .front-loop .popular_post_box h3 {
  color: #484A4E;
}
body.home.color03 .front-loop .popular_post_box h3 a {
  color: #484A4E;
}
body.home.color03 .front-loop .popular_post_box h3 a:hover {
  color: #ca6666;
}
body.home.color03 .front-loop .popular_post_box ul a {
  color: #484A4E;
}
body.home.color03 .front-loop .popular_post_box ul a:hover {
  color: #ca6666;
}
body.home.color03 .front-loop .popular_post_box .p_category {
  background: #fff;
  border: 1px solid #ca6666;
  color: #ca6666;
}
body.home.color03 .front-loop .popular_post_box .p_rank {
  background: #900;
  color: #fff;
}
body.home.color03 .front-loop .popular_post_box .p_date {
  background: #343434;
  color: #fff;
}
body.home.color03 .front-main-cont .front-cont-header {
  background: #343434;
  color: #fff;
}
body.home.color03 .front-main-cont .tri-border span {
  border-left: 28px solid transparent;
  border-left: 56px solid transparent;
  border-right: 56px solid transparent;
  border-top: 18px solid #343434;
}
body.home.color03 #front-contents .c_box {
  border-bottom: 1px solid #e5e5e5;
}
body.home.color03 #front-contents .c_box.c_box_left {
  background-color: #fff;
}
body.home.color03 #front-contents .c_box.c_box_right {
  background-color: #fafafa;
}
body.home.color03 #front-contents .c_number {
  background: #27343c;
  color: #fff;
}
body.home.color03 #front-contents h3 {
  color: #27343c;
}
body.home.color03 #front-contents .c_english {
  color: #27343c;
}
body.home.color03 #front-contents .c_text .c_btn a {
  background: #ca6666;
  color: #fff;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
body.home.color03 #front-service {
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
}
body.home.color03 #front-service .front-service-inner h3 {
  color: #27343c;
}
body.home.color03 #front-service .front-service-inner .c_english {
  color: #27343c;
}
body.home.color03 #front-service .front-service-inner .c_text .c_btn a {
  background: #27343c;
  color: #fff;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
body.home.color03 #front-company {
  background: #fff;
}
body.home.color03 #front-company .c_box {
  border-bottom: 1px solid #e5e5e5;
}
body.home.color03 #front-company dl {
  border-bottom: 1px solid #e5e5e5;
}
body.home.color03 #front-company dl#front-company-1 dt {
  border-top: 2px solid #27343c;
}
body.home.color03 #front-company dl#front-company-1 dd {
  border-top: 1px solid #e5e5e5;
}
body.home.color03 #front-contact {
  background: #ca6666;
}
body.home.color03 #front-contact .c_box_inner input[type=submit],
body.home.color03 #front-contact .c_box_inner button {
  background: #131D2A;
}

/* ----------------------------------------
* all
---------------------------------------- */
body.color03 {
  color: #484A4E;
}
body.color03 a {
  color: #ca6666;
}
body.color03 form input[type="submit"],
body.color03 form button {
  background: #343434;
  color: #fff;
}
body.color03 #header {
  background: #27343c;
}
body.color03 #header a {
  color: #fff;
}
body.color03 .breadcrumb-area {
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
}
body.color03 #gnav {
  background: #27343c;
}
body.color03 #gnav ul li:hover a {
  background: #31414b;
}
body.color03 #gnav ul li.current-menu-item a {
  background: #31414b;
}
body.color03 #gnav ul li a {
  color: #fff;
  background: #27343c;
}
body.color03 #gnav ul li a:hover {
  color: #fff;
  background: #31414b;
}
body.color03 #gnav ul li .sub-menu {
  background: #fff;
  border: 1px #e5e5e5 solid;
}
body.color03 #gnav ul li .sub-menu li {
  border-bottom: 1px #e5e5e5 solid;
}
body.color03 #gnav ul li .sub-menu li a {
  color: #343434;
  background: #fff;
}
body.color03 #gnav ul li .sub-menu li a:hover {
  background: #fafafa;
  color: #343434;
}
body.color03 #header-fnav-area #header-fnav-btn a {
  background: #31414b;
}
body.color03 #header-fnav-area #header-fnav {
  background: #fff;
  border: 1px #e5e5e5 solid;
}
body.color03 #header-fnav-area #header-fnav li {
  border-bottom: 1px #e5e5e5 solid;
}
body.color03 #header-fnav-area #header-fnav li a {
  color: #343434;
  background: #fff;
}
body.color03 #header-fnav-area #header-fnav li a:hover {
  background: #fafafa;
  color: #343434;
}
body.color03 .cat-content,
body.color03 article.post,
body.color03 article.page {
  background: #fff;
  border: 1px #e5e5e5 solid;
}
body.color03 .post-header {
  padding: 56px 64px 46px;
  border-bottom: 1px solid #e5e5e5;
}
body.color03 .post-header .cat-name span {
  border: 1px solid #27343c;
  color: #27343c;
}
body.color03 .post-title a {
  color: #484A4E;
}
body.color03 .post-title a:hover {
  color: #ca6666;
}
body.color03 .post-title a {
  color: #343434;
}
body.color03 .post-title a:hover {
  color: #ca6666;
}
body.color03 .post-meta-area {
  border-bottom: 1px solid #e5e5e5;
}
body.color03 .post-meta-area .post-meta-comment li {
  border-left: 1px solid #e5e5e5;
}
body.color03 .post-content hr {
  border-bottom: 1px solid #eee;
}
body.color03 .post-content h2 {
  border-left: 10px solid #131D2A;
  background: #343434;
  color: #fff;
}
body.color03 .post-content h3 {
  border-bottom: 2px solid #343434;
}
body.color03 .post-content h4 {
  border-left: 5px solid #131D2A;
  clear: both;
}
body.color03 .post-content blockquote {
  border: 1px #e5e5e5 solid;
  background: #fafafa;
}
body.color03 .post-content blockquote:before {
  color: #e7e7e7;
}
body.color03 .post-content blockquote cite {
  color: #808080;
}
body.color03 .post-content table {
  border: 1px #ddd solid;
}
body.color03 .post-content table th,
body.color03 .post-content table td {
  border: #ddd solid 1px;
}
body.color03 .post-content table th {
  color: #fff;
}
body.color03 .post-content table thead th {
  background: #5e6265;
}
body.color03 .post-content table tbody th {
  background: #919598;
}
body.color03 .post-content table.table-line table,
body.color03 .post-content table.table-line th,
body.color03 .post-content table.table-line td {
  border-color: #fff;
}
body.color03 .post-content table.table-line th {
  color: #484A4E;
}
body.color03 .post-content table.table-line thead th {
  background: #5e6265;
  color: #fff;
}
body.color03 .post-content table.table-line tr {
  background: #eee;
}
body.color03 .post-content table.table-line tr:nth-child(2n+1) {
  background: #ddd;
}
body.color03 .post-cta {
  background: #131D2A;
  color: #fff;
}
body.color03 .post-cta .cta-post-title {
  border-bottom: 1px solid #eee;
}
body.color03 .post-cta .post-cta-btn a {
  background: #F86222;
  color: #fff;
}
body.color03 .post-cta .post-cta-btn a:hover {
  background: #fa8553;
}
body.color03 .post-cta .btn {
  background: #343434;
}
body.color03 .post-cta .btn:hover {
  background: #ca6666;
}
body.color03 .post-share .post-share-list1 a,
body.color03 .post-share .post-share-list2 a,
body.color03 .post-share .post-share-list3 a,
body.color03 .post-share .post-share-list4 a {
  border: 1px #eee solid;
}
body.color03 .post-share .post-share-list1 a:hover,
body.color03 .post-share .post-share-list2 a:hover,
body.color03 .post-share .post-share-list3 a:hover,
body.color03 .post-share .post-share-list4 a:hover {
  background: #f7f7f7;
}
body.color03 .post-author {
  border: 1px solid #e5e5e5;
  color: #484A4E;
  background: #fff;
}
body.color03 .post-author a {
  color: #343434;
}
body.color03 .post-author .post-author-meta {
  color: #484A4E;
}
body.color03 #comments {
  border: 1px solid #e5e5e5;
  background: #fff;
}
body.color03 #comments h4 {
  border-bottom: 5px solid #343434;
}
body.color03 #comments h4 i {
  color: #343434;
}
body.color03 .comment-list > .comment {
  border-bottom: 1px #eee solid;
}
body.color03 .comment-list .children .comment-body {
  background: #f7f7f7;
}
body.color03 .cat-content {
  background: #fff;
}
body.color03 .post-loop-wrap .more-link {
  border: 1px #343434 solid;
  color: #343434;
}
body.color03 .post-loop-wrap .more-link:hover {
  background: #343434;
  color: #fff;
}
body.color03 .post-loop-wrap .post-footer {
  border-top: 1px #eee solid;
}
body.color03 .post-loop-wrap .post-footer a.morelink {
  background: #343434;
  color: #fff;
}
body.color03 .pagination span, body.color03 .pagination a {
  color: #484A4E;
  background: #fff;
}
body.color03 .pagination a:hover {
  color: #fff;
  background: #3279BB;
}
body.color03 .pagination .current {
  background: #3279BB;
  color: #fff;
}
body.color03 .side-widget .side-title {
  background: #ebebeb;
  border: 1px solid #e4e4e4;
}
body.color03 .side-widget a {
  color: #27343c;
}
body.color03 .side-widget a:hover {
  color: #27343c;
}
body.color03 .side-widget ul li {
  border-bottom: 1px solid #e5e5e5;
}
body.color03 .side-widget .post-date {
  color: #999999;
}
body.color03 .widget_search {
  border: 1px solid #e5e5e5;
}
body.color03 .widget_search button {
  color: #5e6265;
}
body.color03 .recentcomments {
  color: #808080;
}
body.color03 .recentcomments a {
  color: #484A4E;
}
body.color03 #side .share-list-wrap {
  background: #fff;
}
body.color03 #footer {
  color: #fff;
  border-top: 8px solid #343434;
}
body.color03 #footer a {
  color: #fff;
}
body.color03 #footer a:hover {
  color: #ccc;
}
body.color03 #footer-brand-area {
  border-bottom: 1px solid #343434;
}
body.color03 .footer-01 {
  background: #343434;
}
body.color03 .footer-02 {
  background: #333333;
}
body.color03 .single-lp .lp-wrap {
  border: 1px solid #eee;
  background: #fff;
}
body.color03 .single-lp .lp-thumbnail {
  border: 1px #ccc solid;
  border: 1px #ccc solid;
}
body.color03 .single-lp #lp-header {
  background: #27343c;
}
body.color03 .single-lp #lp-header h1 {
  color: #343434;
  border-bottom: 1px solid #eee;
}
body.color03 .single-lp .lp-form {
  background: #494c4e;
  color: #fff;
}
body.color03 .single-lp .lp-form input[type=submit],
body.color03 .single-lp .lp-form button {
  background: #F86222;
  color: #fff;
  border-bottom: 5px solid #e04807;
}
body.color03 .single-lp .lp-form input[type=submit]:hover,
body.color03 .single-lp .lp-form button:hover {
  background: #f9743b;
}
body.color03 .pagetop {
  color: #fff;
}
body.color03 .pagetop span {
  background: #2b2b2b;
}
body.color03.single-lp #lp-header{
  background: #ca6666;
}
/* ----------------------------------------
* カラースキーム 04
---------------------------------------- */
/* ----------------------------------------
* frontpage
---------------------------------------- */
body.home.color04 #main_visual {
  background: #FB6C4D;
  background-image: -webkit-linear-gradient(bottom right, #fb6c4d, #fb5235);
  background-image: linear-gradient(to top left, #fb6c4d, #fb5235);
  color: #fff;
}
body.home.color04 .front-loop {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  background: #fff;
}
body.home.color04 .front-loop h2 {
  border-bottom: 1px solid #e5e5e5;
}
body.home.color04 .front-loop .popular_post_box h3 {
  color: #666666;
}
body.home.color04 .front-loop .popular_post_box h3 a {
  color: #666666;
}
body.home.color04 .front-loop .popular_post_box h3 a:hover {
  color: #2B9CFB;
}
body.home.color04 .front-loop .popular_post_box ul a {
  color: #666666;
}
body.home.color04 .front-loop .popular_post_box ul a:hover {
  color: #2B9CFB;
}
body.home.color04 .front-loop .popular_post_box .p_category {
  background: #333333;
  color: #fff;
}
body.home.color04 .front-loop .popular_post_box .p_rank {
  background: #900;
  color: #fff;
}
body.home.color04 .front-loop .popular_post_box .p_date {
  background: #333333;
  color: #fff;
}
body.home.color04 .front-main-cont .front-cont-header {
  background: #333333;
  color: #fff;
}
body.home.color04 .front-main-cont .tri-border span {
  border-left: 28px solid transparent;
  border-left: 56px solid transparent;
  border-right: 56px solid transparent;
  border-top: 18px solid #333333;
}
body.home.color04 #front-contents .c_box {
  border-bottom: 1px solid #e5e5e5;
}
body.home.color04 #front-contents .c_box.c_box_left {
  background-color: #fff;
}
body.home.color04 #front-contents .c_box.c_box_right {
  background-color: #fafafa;
}
body.home.color04 #front-contents .c_number {
  background: #FB5235;
  color: #fff;
}
body.home.color04 #front-contents h3 {
  color: #FB5235;
}
body.home.color04 #front-contents .c_english {
  color: #FB5235;
}
body.home.color04 #front-contents .c_text .c_btn a {
  background: #343434;
  color: #fff;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
body.home.color04 #front-service {
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
}
body.home.color04 #front-service .front-service-inner h3 {
  color: #FB5235;
}
body.home.color04 #front-service .front-service-inner .c_english {
  color: #FB5235;
}
body.home.color04 #front-service .front-service-inner .c_text .c_btn a {
  background: #343434;
  color: #fff;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
body.home.color04 #front-company {
  background: #fff;
}
body.home.color04 #front-company .c_box {
  border-bottom: 1px solid #e5e5e5;
}
body.home.color04 #front-company dl {
  border-bottom: 1px solid #e5e5e5;
}
body.home.color04 #front-company dl#front-company-1 dt {
  border-top: 2px solid #FB5235;
}
body.home.color04 #front-company dl#front-company-1 dd {
  border-top: 1px solid #e5e5e5;
}
body.home.color04 #front-contact {
  background: #FB5235;
}
body.home.color04 #front-contact .c_box_inner input[type=submit],
body.home.color04 #front-contact .c_box_inner button {
  background: #131D2A;
}

body.color04 {
  color: #666666;
  /* form
  ---------------------------------------- */
  /* ----------------------------------------
  * header
  ---------------------------------------- */
  /* ----------------------------------------
  * breadcrumb
  ---------------------------------------- */
  /* ----------------------------------------
  * gloval nav & primary nav
  ---------------------------------------- */
  /* ----------------------------------------
  * main
  ---------------------------------------- */
  /* comment
  ---------------------------------------- */
  /* loop
  ---------------------------------------- */
  /* pager */
  /* ----------------------------------------
  * side
  ---------------------------------------- */
  /* search */
  /* comment */
  /* follow */
  /* ----------------------------------------
  * footer
  ---------------------------------------- */
  /* ----------------------------------------
  * LP
  ---------------------------------------- */
  /* ----------------------------------------
  * pagetop
  ---------------------------------------- */
}
body.color04 a {
  color: #333333;
}
body.color04 form input[type="submit"],
body.color04 form button {
  background: #333333;
  color: #fff;
}
body.color04 #header {
  background: #FB5235;
}
body.color04 #header a {
  color: #fff;
}
body.color04 .breadcrumb-area {
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
}
body.color04 #gnav {
  background: #FB5235;
}
body.color04 #gnav ul li:hover a {
  background: #fb674e;
}
body.color04 #gnav ul li.current-menu-item a {
  background: #fb674e;
}
body.color04 #gnav ul li a {
  color: #fff;
  background: #FB5235;
}
body.color04 #gnav ul li a:hover {
  color: #fff;
  background: #fb674e;
}
body.color04 #gnav ul li .sub-menu {
  background: #fff;
  border: 1px #e5e5e5 solid;
}
body.color04 #gnav ul li .sub-menu li {
  border-bottom: 1px #e5e5e5 solid;
}
body.color04 #gnav ul li .sub-menu li a {
  color: #333333;
  background: #fff;
}
body.color04 #gnav ul li .sub-menu li a:hover {
  background: #fafafa;
  color: #333333;
}
body.color04 #header-fnav-area #header-fnav-btn a {
  background: #fb674e;
}
body.color04 #header-fnav-area #header-fnav {
  background: #fff;
  border: 1px #e5e5e5 solid;
}
body.color04 #header-fnav-area #header-fnav li {
  border-bottom: 1px #e5e5e5 solid;
}
body.color04 #header-fnav-area #header-fnav li a {
  color: #333333;
  background: #fff;
}
body.color04 #header-fnav-area #header-fnav li a:hover {
  background: #fafafa;
  color: #333333;
}
body.color04 .cat-content,
body.color04 article.post,
body.color04 article.page {
  background: #fff;
  border: 1px #e5e5e5 solid;
}
body.color04 .post-header {
  padding: 56px 64px 46px;
  border-bottom: 1px solid #e5e5e5;
}
body.color04 .post-header .cat-name span {
  border: 1px solid #FB5235;
  color: #FB5235;
}
body.color04 .post-title a {
  color: #666666;
}
body.color04 .post-title a:hover {
  color: #2B9CFB;
}
body.color04 .post-title a {
  color: #333333;
}
body.color04 .post-title a:hover {
  color: #2B9CFB;
}
body.color04 .post-meta-area {
  border-bottom: 1px solid #e5e5e5;
}
body.color04 .post-meta-area .post-meta-comment li {
  border-left: 1px solid #e5e5e5;
}
body.color04 .post-content hr {
  border-bottom: 1px solid #eee;
}
body.color04 .post-content h2 {
  border-left: 10px solid #131D2A;
  background: #333333;
  color: #fff;
}
body.color04 .post-content h3 {
  border-bottom: 2px solid #333333;
}
body.color04 .post-content h4 {
  border-left: 5px solid #131D2A;
  clear: both;
}
body.color04 .post-content blockquote {
  border: 1px #e5e5e5 solid;
  background: #fafafa;
}
body.color04 .post-content blockquote:before {
  color: #e7e7e7;
}
body.color04 .post-content blockquote cite {
  color: #808080;
}
body.color04 .post-content table {
  border: 1px #ddd solid;
}
body.color04 .post-content table th,
body.color04 .post-content table td {
  border: #ddd solid 1px;
}
body.color04 .post-content table th {
  color: #fff;
}
body.color04 .post-content table thead th {
  background: #5e6265;
}
body.color04 .post-content table tbody th {
  background: #919598;
}
body.color04 .post-content table.table-line table,
body.color04 .post-content table.table-line th,
body.color04 .post-content table.table-line td {
  border-color: #fff;
}
body.color04 .post-content table.table-line th {
  color: #666666;
}
body.color04 .post-content table.table-line thead th {
  background: #5e6265;
  color: #fff;
}
body.color04 .post-content table.table-line tr {
  background: #eee;
}
body.color04 .post-content table.table-line tr:nth-child(2n+1) {
  background: #ddd;
}
body.color04 .post-cta {
  background: #131D2A;
  color: #fff;
}
body.color04 .post-cta .cta-post-title {
  border-bottom: 1px solid #eee;
}
body.color04 .post-cta .post-cta-btn a {
  background: #F86222;
  color: #fff;
}
body.color04 .post-cta .post-cta-btn a:hover {
  background: #fa8553;
}
body.color04 .post-cta .btn {
  background: #333333;
}
body.color04 .post-cta .btn:hover {
  background: #2B9CFB;
}
body.color04 .post-share .post-share-list1 a,
body.color04 .post-share .post-share-list2 a,
body.color04 .post-share .post-share-list3 a,
body.color04 .post-share .post-share-list4 a {
  border: 1px #eee solid;
}
body.color04 .post-share .post-share-list1 a:hover,
body.color04 .post-share .post-share-list2 a:hover,
body.color04 .post-share .post-share-list3 a:hover,
body.color04 .post-share .post-share-list4 a:hover {
  background: #f7f7f7;
}
body.color04 .post-author {
  border: 1px solid #e5e5e5;
  color: #666666;
  background: #fff;
}
body.color04 .post-author a {
  color: #333333;
}
body.color04 .post-author .post-author-meta {
  color: #666666;
}
body.color04 #comments {
  border: 1px solid #e5e5e5;
  background: #fff;
}
body.color04 #comments h4 {
  border-bottom: 5px solid #333333;
}
body.color04 #comments h4 i {
  color: #333333;
}
body.color04 .comment-list > .comment {
  border-bottom: 1px #eee solid;
}
body.color04 .comment-list .children .comment-body {
  background: #f7f7f7;
}
body.color04 .cat-content {
  background: #fff;
}
body.color04 .post-loop-wrap .more-link {
  border: 1px #333333 solid;
  color: #333333;
}
body.color04 .post-loop-wrap .more-link:hover {
  background: #333333;
  color: #fff;
}
body.color04 .post-loop-wrap .post-footer {
  border-top: 1px #eee solid;
}
body.color04 .post-loop-wrap .post-footer a.morelink {
  background: #333333;
  color: #fff;
}
body.color04 .pagination span, body.color04 .pagination a {
  color: #666666;
  background: #fff;
}
body.color04 .pagination a:hover {
  color: #fff;
  background: #3279BB;
}
body.color04 .pagination .current {
  background: #3279BB;
  color: #fff;
}
body.color04 .side-widget .side-title {
  background: #ebebeb;
  border: 1px solid #e4e4e4;
}
body.color04 .side-widget a {
  color: #FB5235;
}
body.color04 .side-widget a:hover {
  color: #FB5235;
}
body.color04 .side-widget ul li {
  border-bottom: 1px solid #e5e5e5;
}
body.color04 .side-widget .post-date {
  color: #999999;
}
body.color04 .widget_search {
  border: 1px solid #e5e5e5;
}
body.color04 .widget_search button {
  color: #5e6265;
}
body.color04 .recentcomments {
  color: #808080;
}
body.color04 .recentcomments a {
  color: #666666;
}
body.color04 #side .share-list-wrap {
  background: #fff;
}
body.color04 #footer {
  color: #fff;
  border-top: 8px solid #333333;
}
body.color04 #footer a {
  color: #fff;
}
body.color04 #footer a:hover {
  color: #ccc;
}
body.color04 #footer-brand-area {
  border-bottom: 1px solid #333333;
}
body.color04 .footer-01 {
  background: #343434;
}
body.color04 .footer-02 {
  background: #282828;
}
body.color04 .single-lp .lp-wrap {
  border: 1px solid #eee;
  background: #fff;
}
body.color04 .single-lp .lp-thumbnail {
  border: 1px #ccc solid;
  border: 1px #ccc solid;
}
body.color04 .single-lp #lp-header {
  background: #FB5235;
}
body.color04 .single-lp #lp-header h1 {
  color: #333333;
  border-bottom: 1px solid #eee;
}
body.color04 .single-lp .lp-form {
  background: #494c4e;
  color: #fff;
}
body.color04 .single-lp .lp-form input[type=submit],
body.color04 .single-lp .lp-form button {
  background: #F86222;
  color: #fff;
  border-bottom: 5px solid #e04807;
}
body.color04 .single-lp .lp-form input[type=submit]:hover,
body.color04 .single-lp .lp-form button:hover {
  background: #f9743b;
}
body.color04 .pagetop {
  color: #fff;
}
body.color04 .pagetop span {
  background: #2b2b2b;
}
body.color04.single-lp #lp-header{
  background: #fb5235;
}
