body{
  background-color: $baseColor;
  color: $fontColor;
  font-family: "Times New Roman", "游明朝", YuMincho, "Hiragino Mincho ProN", Meiryo, serif;
  min-height: 100%;
}

a{
  text-decoration: none;
}

a:link { color: #fff; }
a:visited { color: #fff; }
a:hover { color: #fff; }
a:active { color: #fff; }

input[type="text"],
input[type="password"],
input[type="number"],
input[type="tel"],
button,
textarea,
select{
  outline: none;
  border: 1px solid #aaa;
  transition: all .3s;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus {
  box-shadow: 0 0 7px $mainColor;
  border: 1px solid $mainColor;
}

input[type=radio],
input[type=checkbox] {
  display: none;
}

  .message{
    @include alertMessage;
  }
.error{
  background-color: #C3232D;
  color: #FFF;
  .icon{
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    padding-right: 5px;
    fill: #fff;
  }
}
.success{
  background-color: #a0d3e8;
  color: #FFF;
  .icon{
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    padding-right: 5px;
    fill: #fff;
  }
}
.hidden{
  height: 0;
}

//table周り
.wordByReturn{
  word-wrap: break-word;
}

.word1line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*!ここまで共通*/