@mixin clearfix{
  &::before,
  &::after{
    content:"";
    display: table;
  }
  &::after{
    clear:both;
    *zoom:1;
  }
}

@mixin linkHover{
  background-color: $mainColor;
  transition: all 0.5s ease;
}

@mixin icon($vertical-align: top, $width:20px, $height:20px, $fill:#fff){
  vertical-align: $vertical-align;
  width: $width;
  height: $height;
  fill: $fill;
}

@mixin wh($width:10px, $height:10px){
  width: $width;
  height: $height;
}

//親要素にposition: relative;
//bodyに対してのセンタリングは上記不要
//ヘッダーの高さを引くの忘れてた
@mixin centering{
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
}

@mixin alertMessage{
  text-align: center;
  cursor: pointer;
  display: block;
  font-weight: bold;
  font-size: $bigFont;
  transition: height 300ms ease-out 0s;
  top: 15px;
  right: 15px;
  z-index: 999;
  overflow: hidden;
  height: 40px;
  line-height: 2.2em;
}

