@import "import";

/************************************************
* Layout/default.ctp
************************************************/

header {
  $padding: 15px;
  background-color: $accentColor;
  font-size: $bigFont;
  font-weight: bold;
  @include clearfix;
  .home {
    float: left;
    a {
      display: block;
      padding: $padding;
      &:hover {
        color: $mainColor;
      }
      &:hover > svg {
        fill: $mainColor;
      }
      .icon {
        @include icon(bottom);
        padding-right: 5px;
      }
    }
  }
  .headerNavi {
    float: right;
    li {
      float: left;
      a {
        display: block;
        padding: $padding;
        &:hover {
          @include linkHover;
        }
        .icon {
          @include icon(bottom);
          padding-right: 5px;
        }
      }
    }
  }
}


/************************************************
* Users/login.ctp
************************************************/

.loginContens {
  @include wh(500px, 500px);
  @include centering;
  figure {
    width: 100px;
    margin: 0 auto;
  }
  .loginForm {
    margin-top: 50px;
    background-color: #fff;
    padding: 25px 30px 50px 30px;
    //compassのmixin 後ろに（×px）で値を変えられる。
    @include border-radius;
    @include box-shadow;
    input {
      @include wh(432px, 30px);
      font-size: $middleFont;
      padding-left: 5px;
    }
    label {
      display: block;
      border-left: 7px solid $mainColor;
      padding-left: 7px;
      margin: 20px 0 8px;
      font-weight: bold;
    }
    button {
      width: 150px;
      display: block;
      font-size: $bigFont;
      font-weight: bold;
      padding: 5px 10px;
      background-color: $accentColor;
      color: #fff;
      cursor: pointer;
      border: none;
      @include border-radius;
      margin-top: 30px;
      margin-left: auto;
      &:hover {
        @include linkHover;
      }
    }
    .icon {
      @include icon(sub);
      padding-right: 5px;
    }
  }
}


/************************************************
* Users/index.ctp
************************************************/

.wrapper {
  @include clearfix;
  .leftNavi {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 175px;
    height: 100%;
    background-color: $accentColor;
    nav {
      color: #fff;
      .home02 {
        font-size: $bigFont;
        font-weight: bold;
        padding-bottom: 20px;
        a {
          display: block;
          padding: 15px;
          &:hover {
            color: $mainColor;
          }
          &:hover > svg {
            fill: $mainColor;
          }
          .icon {
            @include icon(bottom);
            padding-right: 5px;
          }
        }
      }
      .searchBox {
        @include clearfix;
        margin-left: 15px;
        p {
          margin-bottom: 10px;
        }
        input {
          @include wh(116px, 21px);
          float: left;
        }
        button {
          float: left;
          height: 25px;
          display: block;
          cursor: pointer;
          border: none;
          background: linear-gradient(#f60, #ffa220);
        }
        .iconSearch {
          @include icon(top, 15px, 15px);
        }
      }
      #dropDown {
        margin-top: 20px;
        li {
          padding: 5px 0 10px 0;
          position: relative;
          &:hover {
            @include linkHover;
          }
          a {
            padding: 7px 5px 7px 15px;
            height: 15px;
            display: block;
            .icon {
              @include icon(bottom);
              padding-right: 5px;
            }
          }
          ul {
            background-color: $accentColor;
            padding: 5px 0 10px 2px;
            width: 110%;
            visibility: hidden;
            position: absolute;
            top: 0;
            left: 173px;
            font-size: $smallFont;
            &::before {
              content: "";
              position: absolute;
              top: 15px;
              left: -16px;
              border: 8px solid transparent;
              border-right: 8px solid $accentColor;
            }
            li {
              padding: 5px 0 0 5px;
              &:hover {
                background-color: transparent;
              }
              a {
                display: block;
                &:hover {
                  color: $mainColor;
                }
                &:hover > svg {
                  fill: $mainColor;
                }
                .icon {
                  @include icon(bottom, 15px, 15px);
                  padding-right: 5px;
                }
              }
            }
          }
        }
      }
    }
  }
  hr {
    border-width: 3px 0 0 0;
    border-style: solid;
    border-color: #f60;
  }
  .rightNavi {
    float: right;
    //右側はwidth可変。時間があれば左と右のwidthの単位を揃える。
    width: 80%;
    margin-top: 16px;
    .table {
      width: 90%;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
      display: table;
      table-layout: fixed;
      .row {
        display: table-row;
        background: #f6f6f6;
      }
      .row:nth-of-type(odd) {
        background: #e9e9e9;
      }
      .header {
        font-weight: 900;
        display: table-row;
        color: #ffffff;
        background: linear-gradient(#f60, #ffa220);
      }
      .cell {
        padding: 6px 12px;
        display: table-cell;
        //width: 100px;
        a {
          color: $accentColor;
          &:hover {
            color: $mainColor;
          }
          &:hover > svg {
            fill: $mainColor;
          }
          .icon {
            @include icon(text-top, 15px, 15px, #000);
            padding-right: 5px;
          }
        }
      }
    }
  }
}


/************************************************
* その他index
************************************************/

.leftContents {
  margin-top: 16px;
  h2 {
    font-size: 1.4em;
    font-weight: bold;
    margin: 0 0 20px 15px;
    color: #f60;
  }
  ul {
    li {
      a {
        display: block;
        padding: 7px 0 7px 15px;
        &:hover {
          @include linkHover;
        }
        .icon {
          @include icon(sub);
          padding-right: 5px;
        }
      }
    }
  }
}

.rightContents {
  width: 100%;
  margin-top: 20px;
  h2 {
    font-size: 1.4em;
    font-weight: bold;
    span {
      display: inline-block;
      padding: 0 50px 3px 0;
      border-bottom: 3px solid #f60;
    }
  }
  .directions {
    line-height: 1.5;
    width: 90%;
    margin-top: 30px;
    padding: 15px 0;
    color: #f00;
    border: 1px solid $mainColor;
    p {
      margin-left: 15px;
    }
  }
  .table {
    margin-top: 30px;
    display: table;
    width: 90%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    .row {
      display: table-row;
      background: #f6f6f6;
      &:nth-of-type(odd) {
        background: #e9e9e9;
      }
    }
    .header {
      font-weight: 900;
      display: table-row;
      color: #fff;
      width: 100px;
      .cell {
        display: table-cell;
        padding: 6px 12px;
        background-color: $accentColor;
        a {
          display: block;
          color: #fff;
          &:hover {
            color: $mainColor;
          }
          &:hover > svg {
            fill: $mainColor;
          }
          .icon {
            @include icon(text-top, 15px, 15px);
            padding-right: 5px;
          }
          &.asc::after {
            content: '（昇順）';
          }
          &.desc::after {
            content: '（降順）';
          }
        }
        p {
          color: $mainColor;
          font-weight: bold;
        }
      }
    }
    .cell {
      display: table-cell;
      padding: 6px 12px;
      a {
        display: inline-block;
        &:hover {
          color: $mainColor;
        }
        &:hover > svg {
          fill: $mainColor;
        }
        .icon {
          @include icon(text-top, 15px, 15px);
          padding-right: 5px;
        }
      }
    }
  }
  .paginator {
    width: 90%;
    text-align: center;
    margin-top: 30px;
    ul {
      li {
        display: inline-block;
        padding: 0 8px;
        //background-color: $accentColor;
        a {
          color: $accentColor;
          &:hover {
            color: $mainColor;
          }
          &:hover > svg {
            fill: $mainColor;
          }
          .icon {
            @include icon(text-top, 15px, 15px, $accentColor);
            padding: 0 5px;
          }
        }
      }
      .active{
        font-size: $bigFont;
        font-weight: bold;
      }
      .disabled {
        a {
          color: $accentColor;
          &:hover {
            color: $accentColor;
          }
          &:hover > svg {
            fill: $accentColor;
          }
        }
      }
    }
  }
}


/************************************************
* addページ & editページ
************************************************/

.rightContents {
  .addForm {
    width: 90%;
    border: 1px solid #ccc;
    @include box-shadow(2px 2px 3px #788385);
    @include border-radius(3px);
    background-color: #fff;
    margin-top: 30px;
    form {
      padding: 10px 30px 30px 30px;
      font-size: $bigFont;
      .error-message{
        color: #ff0000;
        font-weight: bold;
        padding-top: 5px;
        ul{
          li{
            padding-bottom: 5px;
            &:last-child{
              padding: 0px;
            }
          }
        }
      }
      input {
        @include wh(400px, 25px);
        font-size: $middleFont;
        padding-left: 5px;
      }
      #photo {
        display: none;
      }
      .labelUpload {
        border-style: none;
        width: 110px;
        color: #fff;
        background-color: $accentColor;
        padding: 8px;
        font-size: 16px;
        cursor: pointer;
        margin-top: auto;
        @include border-radius;
        &:hover {
          @include linkHover;
        }
        .icon {
          @include icon(bottom);
          padding-right: 5px;
        }
      }
      textarea {
        @include wh(400px, 180px);
        font-size: $middleFont;
        padding-left: 5px;
      }
      label {
        display: block;
        border-left: 7px solid $mainColor;
        padding-left: 7px;
        margin: 20px 0 8px;
        font-weight: bold;
      }
      .labelRadioButton {
        display: inline;
        border-style: none;
        position: relative;
        cursor: pointer;
        padding: 3px 3px 3px 20px;
      }
      .labelRadioButton::before,
      .labelRadioButton::after {
        position: absolute;
        content: '';
        top: 50%;
        border-radius: 100%;
        -webkit-transition: all .2s;
        transition: all .2s;
      }
      .labelRadioButton::before {
        left: 0;
        width: 14px;
        height: 14px;
        margin-top: -8px;
        background: #f3f3f3;
        border: 1px solid #ccc;
      }
      .labelRadioButton:hover::before {
        background: #fff;
      }
      .labelRadioButton::after {
        opacity: 0;
        left: 4px;
        width: 8px;
        height: 8px;
        margin-top: -4px;
        background: $mainColor;
        -webkit-transform: scale(2);
        transform: scale(2);
      }
      input[type="radio"]:checked + .labelRadioButton::before {
        background: #fff;
        border: 1px solid $mainColor;
      }
      input[type="radio"]:checked + .labelRadioButton::after {
        opacity: 1;
        transform: scale(1);
      }
      .customSelectbox {
        position: relative;
        .box01 {
          position: absolute;
          top: 28px;
          left: 0;
          z-index: 1;
          width: 100px;
          height: 35px;
          font-size: $middleFont;
          cursor: pointer;
          opacity: 0;
        }
        .box02 {
          position: absolute;
          top: 28px;
          left: 105px;
          z-index: 1;
          width: 100px;
          height: 36px;
          font-size: $middleFont;
          cursor: pointer;
          opacity: 0;
        }
        .box03 {
          position: absolute;
          top: 28px;
          left: 210px;
          z-index: 1;
          width: 100px;
          height: 36px;
          font-size: $middleFont;
          cursor: pointer;
          opacity: 0;
        }
        .dayNone {
          position: absolute;
          top: 28px;
          left: 210px;
          z-index: 1;
          width: 100px;
          height: 36px;
          visibility: hidden;
        }
        .inner {
          position: relative;
          z-index: 0;
          display: inline-block;
          box-sizing: border-box;
          border: 1px solid #aaa;
          padding: 0 12px;
          width: 100px;
          height: 36px;
          font-size: $middleFont;
          line-height: 36px;
        }
        .inner::before,
        .inner::after {
          content: '';
          position: absolute;
          display: block;
        }
        .inner::before {
          top: 0;
          right: 0;
          bottom: 0;
          width: 24px;
          background: #000;
        }
        .inner::after {
          top: 50%;
          right: 7px;
          margin-top: -3px;
          width: 0;
          height: 0;
          border: solid transparent;
          border-top-color: #fff;
          border-width: 5px 5px 0 5px;
        }
      }
      button {
        width: 150px;
        display: block;
        font-size: $bigFont;
        font-weight: bold;
        padding: 5px 10px;
        background-color: $accentColor;
        color: #fff;
        cursor: pointer;
        border: none;
        @include border-radius;
        margin-top: 30px;
        margin-left: auto;
        &:hover {
          @include linkHover;
        }
      }
      .icon {
        @include icon(baseline);
        padding-right: 10px;
      }
    }
  }
}

/************************************************
* viewページ
************************************************/
.rightNavi{
  .rightContents{
    .viewArea{
      width: 90%;
      margin-top: 30px;
      background-color: #fff;
      border: 1px solid #ccc;
      @include box-shadow(2px 2px 3px #788385);
      @include border-radius(3px);
      padding: 10px 30px 30px 30px;
      //@include clearfix;
      display: flex;
      justify-content: space-between;
      //personalのviewページ用のstyle
      .viewParsonal{
        width: 60%;
      }
      .viewContentsTypeA{
        margin: 15px 0 20px 0;
        p{
          display: inline-block;
          font-weight: bold;
          font-size: $bigFont;
          border-left: 7px solid $mainColor;
          padding-left: 10px;
          margin: 5px 30px 0 0;
          &:last-child{
            margin-right: 0;
          }
        }
        span{
          font-size: $middleFont;
          padding-left: 30px;
          color: $fontColor;
          font-weight: normal;
        }
      }
      .viewContentsTypeB{
        margin-bottom: 20px;
        h3{
          display: block;
          font-weight: bold;
          font-size: $bigFont;
          padding-bottom: 8px;
          border-bottom: 2px solid $mainColor;
        }
        p{
          margin-top: 10px;
          line-height: normal;
        }
      }
      .viewContentsTypeC{
        margin-top: 15px;
        width: 30%;
        overflow: hidden;
        img{
          display: block;
          width: 300px;
          margin-left: auto;
        }
      }
    }
  }
}
