@import "import";

@keyframes arrow {
  50% {
    right: .2em;
    opacity: 1;
  }
  100% {
    right: -.4em;
    opacity: 0;
  }
}

.wrapper{
  position: relative;
  height: 100%;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

#video{
  background: url('../img/IV-bg.jpg');
  position: absolute;
  top: 0;
  left: 0;
  background-position: center;
  background-size: cover;
  min-height: 100%;
  min-height: 100vh;
  min-width: 100%;
  min-width: 100vw;
  z-index: -100;
}
.titleArea{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  //background-color: rgba(255, 255, 255, 0.2);
  @include clearfix;
  a{
    position: relative;
    display: block;
    float: left;
    height: 100%;
    width: 50%;
    &::after{
      position: absolute;
      top: 50%;
      right: .8em;
      content: '';
      margin-top: -5px;
      border: 45px solid transparent;
      //border-top-width: 5px;
      border-left: 45px solid #fff;
      //border-left-color: #fff;
      opacity: 0;
    }
    &:hover::after{
      animation: arrow 1.2s infinite;
    }
    &:nth-child(1):hover{
      background-color: rgba(255, 102, 0, 0.5);
    }
    &:nth-child(2):hover{
      background-color: rgba(0, 153, 255, 0.5);
    }
    ul{
      @include centering;
      top: 0px;
      width: 80%;
      height: 115px;
      li{
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        padding-bottom: 15px;
        span{
          font-size: 80px;
        }
      }
      li:last-child{
        padding-bottom: 0;
      }
    }
  }
}