body{

}

input, button, textarea, select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  appearance: none;
}

a{
  text-decoration: none;
  display: block;
}

.video-main {
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

.box{
  background-color: rgba(255, 255, 255, .2);
  border-radius: 4px;
  color: rgb(255, 255, 255);
  box-shadow: 0 3px 3px rgba(0, 0, 0, .2), inset 0 1px 1px rgba(255, 255, 255, .7);
  text-shadow: 0px 1px 0px rgba(0, 0, 0, .4);
  margin: 300px auto 0 auto;
  width: 500px;
  height: 280px;
}

/*ノートパソコン用*/
@media screen and (max-height: 900px){
  .box{
    margin: 180px auto 0 auto;
  }
}

.maintitle{
  font-size: 50px;
  width: 300px;
  padding-top: 50px;
  margin: 0 auto;
}

.form-control{
  width: 135px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  margin: 60px 50px 0 105px;
  padding-left: 8px;
  font-size: 16px;
  outline: none;
  border: 1px solid #aaa;
  transition: all .3s;
}

.form-control:focus{
  box-shadow: 0 0 7px rgb(26, 188, 156);
  border: 1px solid rgb(26, 188, 156);
}

.button{
  width: 80px;
  height: 52px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #aaa;
  font-size: 16px;
  color: rgb(169, 169, 169);
}

.button:hover{
  cursor: pointer;
  background-color: rgb(26, 188, 156);
  transition: .5s;
  color: rgb(255, 255, 255);

}

/*メインcss*/

header{
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: rgb(66, 222, 191);
}

.title{
  width: 980px;
  margin: 0 auto;
  font-size: 70px;
  padding: 5px 0;
}

.icon{
  width: 100px;
  height: 100px;
  vertical-align: -22px;
}

.wrapper{
  width: 980px;
  margin: 50px auto 0 auto;
  overflow: hidden;
}

.left-colum{
  width: 450px;
  float: left;
}

.form-group{
  border-bottom: 2px solid #aaa;
  padding-bottom: 30px;
  overflow: hidden;
}

.u_name{
  color: rgb(255, 255, 255);
  background-color: rgb(66, 222, 191);
  border-radius: 4px;
  padding: 15px;
}

.users{
  width: 30px;
  height: 30px;
  vertical-align: -4px;
}

.u_name2{
  background-color: rgb(26, 188, 156);
  border-radius: 4px;
  padding: 5px;
  font-size: 30px;
}

.form-control2{
  width: 445px;
  height: 150px;
  background-color: rgb(255, 255, 255);
  margin-top: 30px;
  font-size: 16px;
  outline: none;
  border: 1px solid #aaa;
  transition: all .3s;
}

.form-control2:focus{
  border: 1px solid rgb(26, 188, 156);
}

.button2{
  margin-top: 20px;
  width: 180px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #aaa;
  font-size: 16px;
  color: rgb(169, 169, 169);
  float: left;
}

.button2:hover{
  cursor: pointer;
  background-color: rgb(26, 188, 156);
  transition: .5s;
  color: rgb(255, 255, 255);
}

.button3{
  margin-top: 20px;
  width: 100px;
  padding: 11px 0;
  background-color: rgb(255, 255, 255);
  border: 1px solid #aaa;
  font-size: 16px;
  color: rgb(169, 169, 169);
  text-align:center;
  float: right;
}

.button3:hover{
  cursor: pointer;
  background-color: rgb(26, 188, 156);
  transition: .5s;
  color: rgb(255, 255, 255);
}
.right-colum{
  width: 500px;
  float: right;
}

.alert-success{
  background-color: rgb(0, 177, 255);
  padding: 20px;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
}

.alert-danger{
  background-color: rgb(255, 0, 98);
  padding: 20px;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
}

.well-lg{
  background-color: rgb(172, 172, 172);
  padding: 20px;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
}

small{

}







