@charset 'UTF-8';
body
{
    font-family: 'Times New Roman', '游明朝', YuMincho, 'Hiragino Mincho ProN', Meiryo, serif;
    min-height: 100%;
    color: #72777c;
    background-color: #f7f7f7;
}

a
{
    text-decoration: none;
}

a:link
{
    color: #fff;
}

a:visited
{
    color: #fff;
}

a:hover
{
    color: #fff;
}

a:active
{
    color: #fff;
}

input[type='text'],
input[type='password'],
input[type='number'],
input[type='tel'],
button,
textarea,
select
{
    -webkit-transition: all .3s;
            transition: all .3s;
    border: 1px solid #aaa;
    outline: none;
}

input[type='text']:focus,
input[type='password']:focus,
input[type='number']:focus,
input[type='tel']:focus,
textarea:focus
{
    border: 1px solid #f60;
    box-shadow: 0 0 7px #f60;
}

input[type=radio],
input[type=checkbox]
{
    display: none;
}

.message
{
    font-size: 1.2em;
    font-weight: bold;
    line-height: 2.2em;
    z-index: 999;
    top: 15px;
    right: 15px;
    display: block;
    overflow: hidden;
    height: 40px;
    cursor: pointer;
    -webkit-transition: height 300ms ease-out 0s;
            transition: height 300ms ease-out 0s;
    text-align: center;
}

.error
{
    color: #fff;
    background-color: #c3232d;
}
.error .icon
{
    width: 20px;
    height: 20px;
    padding-right: 5px;
    vertical-align: text-top;

    fill: #fff;
}

.success
{
    color: #fff;
    background-color: #a0d3e8;
}
.success .icon
{
    width: 20px;
    height: 20px;
    padding-right: 5px;
    vertical-align: text-top;

    fill: #fff;
}

.hidden
{
    height: 0;
}

.wordByReturn
{
    word-wrap: break-word;
}

.word1line
{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*!ここまで共通*/
@-webkit-keyframes arrow
{
    50%
    {
        right: .2em;
        opacity: 1;
    }
    100%
    {
        right: -.4em;
        opacity: 0;
    }
}
@keyframes arrow
{
    50%
    {
        right: .2em;
        opacity: 1;
    }
    100%
    {
        right: -.4em;
        opacity: 0;
    }
}
.wrapper
{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    height: 100vh;
}

#video
{
    position: absolute;
    z-index: -100;
    top: 0;
    left: 0;
    min-width: 100%;
    min-width: 100vw;
    min-height: 100%;
    min-height: 100vh;
    background: url('../img/IV-bg.jpg');
    background-position: center;
    background-size: cover;
}

.titleArea
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.titleArea::before,
.titleArea::after
{
    display: table;
    content: '';
}
.titleArea::after
{
    clear: both;

    *zoom: 1;
}
.titleArea a
{
    position: relative;
    display: block;
    float: left;
    width: 50%;
    height: 100%;
}
.titleArea a::after
{
    position: absolute;
    top: 50%;
    right: .8em;
    margin-top: -5px;
    content: '';
    opacity: 0;
    border: 45px solid transparent;
    border-left: 45px solid #fff;
}
.titleArea a:hover::after
{
    -webkit-animation: arrow 1.2s infinite;
            animation: arrow 1.2s infinite;
}
.titleArea a:nth-child(1):hover
{
    background-color: rgba(255, 102, 0, .5);
}
.titleArea a:nth-child(2):hover
{
    background-color: rgba(0, 153, 255, .5);
}
.titleArea a ul
{
    position: absolute;
    top: 50px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80%;
    height: 115px;
    margin: auto;
}
.titleArea a ul li
{
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 15px;
    text-align: center;
}
.titleArea a ul li span
{
    font-size: 80px;
}
.titleArea a ul li:last-child
{
    padding-bottom: 0;
}
