@charset 'UTF-8';
body
{
    font-family: 'Times New Roman', '游明朝', YuMincho, 'Hiragino Mincho ProN', Meiryo, serif;
    min-height: 100%;
    color: #72777c;
    background-color: #f7f7f7;
}

a
{
    text-decoration: none;
}

a:link
{
    color: #fff;
}

a:visited
{
    color: #fff;
}

a:hover
{
    color: #fff;
}

a:active
{
    color: #fff;
}

input[type='text'],
input[type='password'],
input[type='number'],
input[type='tel'],
button,
textarea,
select
{
    -webkit-transition: all .3s;
    transition: all .3s;
    border: 1px solid #aaa;
    outline: none;
}

input[type='text']:focus,
input[type='password']:focus,
input[type='number']:focus,
input[type='tel']:focus,
textarea:focus
{
    border: 1px solid #f60;
    box-shadow: 0 0 7px #f60;
}

input[type=radio],
input[type=checkbox]
{
    display: none;
}

.message
{
    font-size: 1.2em;
    font-weight: bold;
    line-height: 2.2em;
    z-index: 999;
    top: 15px;
    right: 15px;
    display: block;
    overflow: hidden;
    height: 40px;
    cursor: pointer;
    -webkit-transition: height 300ms ease-out 0s;
    transition: height 300ms ease-out 0s;
    text-align: center;
}

.error
{
    color: #fff;
    background-color: #c3232d;
}
.error .icon
{
    width: 20px;
    height: 20px;
    padding-right: 5px;
    vertical-align: text-top;

    fill: #fff;
}

.success
{
    color: #fff;
    background-color: #a0d3e8;
}
.success .icon
{
    width: 20px;
    height: 20px;
    padding-right: 5px;
    vertical-align: text-top;

    fill: #fff;
}

.hidden
{
    height: 0;
}

.wordByReturn
{
    word-wrap: break-word;
}

.word1line
{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*!ここまで共通*/
/************************************************
* Layout/default.ctp
************************************************/
header
{
    font-size: 1.2em;
    font-weight: bold;
    background-color: #000;
}
header::before,
header::after
{
    display: table;
    content: '';
}
header::after
{
    clear: both;

    *zoom: 1;
}
header .home
{
    float: left;
}
header .home a
{
    display: block;
    padding: 15px;
}
header .home a:hover
{
    color: #f60;
}
header .home a:hover > svg
{
    fill: #f60;
}
header .home a .icon
{
    width: 20px;
    height: 20px;
    padding-right: 5px;
    vertical-align: bottom;

    fill: #fff;
}
header .headerNavi
{
    float: right;
}
header .headerNavi li
{
    float: left;
}
header .headerNavi li a
{
    display: block;
    padding: 15px;
}
header .headerNavi li a:hover
{
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    background-color: #f60;
}
header .headerNavi li a .icon
{
    width: 20px;
    height: 20px;
    padding-right: 5px;
    vertical-align: bottom;

    fill: #fff;
}

/************************************************
* Users/login.ctp
************************************************/
.loginContens
{
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 500px;
    height: 500px;
    margin: auto;
}
.loginContens figure
{
    width: 100px;
    margin: 0 auto;
}
.loginContens .loginForm
{
    margin-top: 50px;
    padding: 25px 30px 50px 30px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px #333;
}
.loginContens .loginForm input
{
    font-size: 1em;
    width: 432px;
    height: 30px;
    padding-left: 5px;
}
.loginContens .loginForm label
{
    font-weight: bold;
    display: block;
    margin: 20px 0 8px;
    padding-left: 7px;
    border-left: 7px solid #f60;
}
.loginContens .loginForm button
{
    font-size: 1.2em;
    font-weight: bold;
    display: block;
    width: 150px;
    margin-top: 30px;
    margin-left: auto;
    padding: 5px 10px;
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: #000;
}
.loginContens .loginForm button:hover
{
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    background-color: #f60;
}
.loginContens .loginForm .icon
{
    width: 20px;
    height: 20px;
    padding-right: 5px;
    vertical-align: sub;

    fill: #fff;
}

/************************************************
* Users/index.ctp
************************************************/
.wrapper::before,
.wrapper::after
{
    display: table;
    content: '';
}
.wrapper::after
{
    clear: both;

    *zoom: 1;
}
.wrapper .leftNavi
{
    position: fixed;
    z-index: 2;
    top: 0;
    width: 175px;
    height: 100%;
    background-color: #000;
}
.wrapper .leftNavi nav
{
    color: #fff;
}
.wrapper .leftNavi nav .home02
{
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 20px;
}
.wrapper .leftNavi nav .home02 a
{
    display: block;
    padding: 15px;
}
.wrapper .leftNavi nav .home02 a:hover
{
    color: #f60;
}
.wrapper .leftNavi nav .home02 a:hover > svg
{
    fill: #f60;
}
.wrapper .leftNavi nav .home02 a .icon
{
    width: 20px;
    height: 20px;
    padding-right: 5px;
    vertical-align: bottom;

    fill: #fff;
}
.wrapper .leftNavi nav .searchBox
{
    margin-left: 15px;
}
.wrapper .leftNavi nav .searchBox::before,
.wrapper .leftNavi nav .searchBox::after
{
    display: table;
    content: '';
}
.wrapper .leftNavi nav .searchBox::after
{
    clear: both;

    *zoom: 1;
}
.wrapper .leftNavi nav .searchBox p
{
    margin-bottom: 10px;
}
.wrapper .leftNavi nav .searchBox input
{
    float: left;
    width: 116px;
    height: 21px;
}
.wrapper .leftNavi nav .searchBox button
{
    display: block;
    float: left;
    height: 25px;
    cursor: pointer;
    border: none;
    background: -webkit-linear-gradient(#f60, #ffa220);
    background: linear-gradient(#f60, #ffa220);
}
.wrapper .leftNavi nav .searchBox .iconSearch
{
    width: 15px;
    height: 15px;
    vertical-align: top;

    fill: #fff;
}
.wrapper .leftNavi nav #dropDown
{
    margin-top: 20px;
}
.wrapper .leftNavi nav #dropDown li
{
    position: relative;
    padding: 5px 0 10px 0;
}
.wrapper .leftNavi nav #dropDown li:hover
{
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    background-color: #f60;
}
.wrapper .leftNavi nav #dropDown li a
{
    display: block;
    height: 15px;
    padding: 7px 5px 7px 15px;
}
.wrapper .leftNavi nav #dropDown li a .icon
{
    width: 20px;
    height: 20px;
    padding-right: 5px;
    vertical-align: bottom;

    fill: #fff;
}
.wrapper .leftNavi nav #dropDown li ul
{
    font-size: .9em;
    position: absolute;
    top: 0;
    left: 173px;
    visibility: hidden;
    width: 110%;
    padding: 5px 0 10px 2px;
    background-color: #000;
}
.wrapper .leftNavi nav #dropDown li ul::before
{
    position: absolute;
    top: 15px;
    left: -16px;
    content: '';
    border: 8px solid transparent;
    border-right: 8px solid #000;
}
.wrapper .leftNavi nav #dropDown li ul li
{
    padding: 5px 0 0 5px;
}
.wrapper .leftNavi nav #dropDown li ul li:hover
{
    background-color: transparent;
}
.wrapper .leftNavi nav #dropDown li ul li a
{
    display: block;
}
.wrapper .leftNavi nav #dropDown li ul li a:hover
{
    color: #f60;
}
.wrapper .leftNavi nav #dropDown li ul li a:hover > svg
{
    fill: #f60;
}
.wrapper .leftNavi nav #dropDown li ul li a .icon
{
    width: 15px;
    height: 15px;
    padding-right: 5px;
    vertical-align: bottom;

    fill: #fff;
}
.wrapper hr
{
    border-width: 3px 0 0 0;
    border-style: solid;
    border-color: #f60;
}
.wrapper .rightNavi
{
    float: right;
    width: 80%;
    margin-top: 16px;
}
.wrapper .rightNavi .table
{
    display: table;
    width: 90%;
    table-layout: fixed;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
}
.wrapper .rightNavi .table .row
{
    display: table-row;
    background: #f6f6f6;
}
.wrapper .rightNavi .table .row:nth-of-type(odd)
{
    background: #e9e9e9;
}
.wrapper .rightNavi .table .header
{
    font-weight: 900;
    display: table-row;
    color: #fff;
    background: -webkit-linear-gradient(#f60, #ffa220);
    background: linear-gradient(#f60, #ffa220);
}
.wrapper .rightNavi .table .cell
{
    display: table-cell;
    padding: 6px 12px;
}
.wrapper .rightNavi .table .cell a
{
    color: #000;
}
.wrapper .rightNavi .table .cell a:hover
{
    color: #f60;
}
.wrapper .rightNavi .table .cell a:hover > svg
{
    fill: #f60;
}
.wrapper .rightNavi .table .cell a .icon
{
    width: 15px;
    height: 15px;
    padding-right: 5px;
    vertical-align: text-top;

    fill: #000;
}

/************************************************
* その他index
************************************************/
.leftContents
{
    margin-top: 16px;
}
.leftContents h2
{
    font-size: 1.4em;
    font-weight: bold;
    margin: 0 0 20px 15px;
    color: #f60;
}
.leftContents ul li a
{
    display: block;
    padding: 7px 0 7px 15px;
}
.leftContents ul li a:hover
{
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    background-color: #f60;
}
.leftContents ul li a .icon
{
    width: 20px;
    height: 20px;
    padding-right: 5px;
    vertical-align: sub;

    fill: #fff;
}

.rightContents
{
    width: 100%;
    margin-top: 20px;
}
.rightContents h2
{
    font-size: 1.4em;
    font-weight: bold;
}
.rightContents h2 span
{
    display: inline-block;
    padding: 0 50px 3px 0;
    border-bottom: 3px solid #f60;
}
.rightContents .directions
{
    line-height: 1.5;
    width: 90%;
    margin-top: 30px;
    padding: 15px 0;
    color: #f00;
    border: 1px solid #f60;
}
.rightContents .directions p
{
    margin-left: 15px;
}
.rightContents .table
{
    display: table;
    width: 90%;
    margin-top: 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
}
.rightContents .table .row
{
    display: table-row;
    background: #f6f6f6;
}
.rightContents .table .row:nth-of-type(odd)
{
    background: #e9e9e9;
}
.rightContents .table .header
{
    font-weight: 900;
    display: table-row;
    width: 100px;
    color: #fff;
}
.rightContents .table .header .cell
{
    display: table-cell;
    padding: 6px 12px;
    background-color: #000;
}
.rightContents .table .header .cell a
{
    display: block;
    color: #fff;
}
.rightContents .table .header .cell a:hover
{
    color: #f60;
}
.rightContents .table .header .cell a:hover > svg
{
    fill: #f60;
}
.rightContents .table .header .cell a .icon
{
    width: 15px;
    height: 15px;
    padding-right: 5px;
    vertical-align: text-top;

    fill: #fff;
}
.rightContents .table .header .cell a.asc::after
{
    content: '（昇順）';
}
.rightContents .table .header .cell a.desc::after
{
    content: '（降順）';
}
.rightContents .table .header .cell p
{
    font-weight: bold;
    color: #f60;
}
.rightContents .table .cell
{
    display: table-cell;
    padding: 6px 12px;
}
.rightContents .table .cell a
{
    display: inline-block;
}
.rightContents .table .cell a:hover
{
    color: #f60;
}
.rightContents .table .cell a:hover > svg
{
    fill: #f60;
}
.rightContents .table .cell a .icon
{
    width: 15px;
    height: 15px;
    padding-right: 5px;
    vertical-align: text-top;

    fill: #fff;
}
.rightContents .paginator
{
    width: 90%;
    margin-top: 30px;
    text-align: center;
}
.rightContents .paginator ul li
{
    display: inline-block;
    padding: 0 8px;
}
.rightContents .paginator ul li a
{
    color: #000;
}
.rightContents .paginator ul li a:hover
{
    color: #f60;
}
.rightContents .paginator ul li a:hover > svg
{
    fill: #f60;
}
.rightContents .paginator ul li a .icon
{
    width: 15px;
    height: 15px;
    padding: 0 5px;
    vertical-align: text-top;

    fill: #000;
}
.rightContents .paginator ul .active
{
    font-size: 1.2em;
    font-weight: bold;
}
.rightContents .paginator ul .disabled a
{
    color: #000;
}
.rightContents .paginator ul .disabled a:hover
{
    color: #000;
}
.rightContents .paginator ul .disabled a:hover > svg
{
    fill: #000;
}

/************************************************
* addページ & editページ
************************************************/
.rightContents .addForm
{
    width: 90%;
    margin-top: 30px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 2px 2px 3px #788385;
}
.rightContents .addForm form
{
    font-size: 1.2em;
    padding: 10px 30px 30px 30px;
}
.rightContents .addForm form .error-message
{
    font-weight: bold;
    padding-top: 5px;
    color: #f00;
}
.rightContents .addForm form .error-message ul li
{
    padding-bottom: 5px;
}
.rightContents .addForm form .error-message ul li:last-child
{
    padding: 0;
}
.rightContents .addForm form input
{
    font-size: 1em;
    width: 400px;
    height: 25px;
    padding-left: 5px;
}
.rightContents .addForm form #photo
{
    display: none;
}
.rightContents .addForm form .labelUpload
{
    font-size: 16px;
    width: 110px;
    margin-top: auto;
    padding: 8px;
    cursor: pointer;
    color: #fff;
    border-style: none;
    border-radius: 5px;
    background-color: #000;
}
.rightContents .addForm form .labelUpload:hover
{
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    background-color: #f60;
}
.rightContents .addForm form .labelUpload .icon
{
    width: 20px;
    height: 20px;
    padding-right: 5px;
    vertical-align: bottom;

    fill: #fff;
}
.rightContents .addForm form textarea
{
    font-size: 1em;
    width: 400px;
    height: 180px;
    padding-left: 5px;
}
.rightContents .addForm form label
{
    font-weight: bold;
    display: block;
    margin: 20px 0 8px;
    padding-left: 7px;
    border-left: 7px solid #f60;
}
.rightContents .addForm form .labelRadioButton
{
    position: relative;
    display: inline;
    padding: 3px 3px 3px 20px;
    cursor: pointer;
    border-style: none;
}
.rightContents .addForm form .labelRadioButton::before,
.rightContents .addForm form .labelRadioButton::after
{
    position: absolute;
    top: 50%;
    content: '';
    -webkit-transition: all .2s;
            transition: all .2s;
    border-radius: 100%;
}
.rightContents .addForm form .labelRadioButton::before
{
    left: 0;
    width: 14px;
    height: 14px;
    margin-top: -8px;
    border: 1px solid #ccc;
    background: #f3f3f3;
}
.rightContents .addForm form .labelRadioButton:hover::before
{
    background: #fff;
}
.rightContents .addForm form .labelRadioButton::after
{
    left: 4px;
    width: 8px;
    height: 8px;
    margin-top: -4px;
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
    background: #f60;
}
.rightContents .addForm form input[type='radio']:checked + .labelRadioButton::before
{
    border: 1px solid #f60;
    background: #fff;
}
.rightContents .addForm form input[type='radio']:checked + .labelRadioButton::after
{
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
}
.rightContents .addForm form .customSelectbox
{
    position: relative;
}
.rightContents .addForm form .customSelectbox .box01
{
    font-size: 1em;
    position: absolute;
    z-index: 1;
    top: 28px;
    left: 0;
    width: 100px;
    height: 35px;
    cursor: pointer;
    opacity: 0;
}
.rightContents .addForm form .customSelectbox .box02
{
    font-size: 1em;
    position: absolute;
    z-index: 1;
    top: 28px;
    left: 105px;
    width: 100px;
    height: 36px;
    cursor: pointer;
    opacity: 0;
}
.rightContents .addForm form .customSelectbox .box03
{
    font-size: 1em;
    position: absolute;
    z-index: 1;
    top: 28px;
    left: 210px;
    width: 100px;
    height: 36px;
    cursor: pointer;
    opacity: 0;
}
.rightContents .addForm form .customSelectbox .dayNone
{
    position: absolute;
    z-index: 1;
    top: 28px;
    left: 210px;
    visibility: hidden;
    width: 100px;
    height: 36px;
}
.rightContents .addForm form .customSelectbox .inner
{
    font-size: 1em;
    line-height: 36px;
    position: relative;
    z-index: 0;
    display: inline-block;
    box-sizing: border-box;
    width: 100px;
    height: 36px;
    padding: 0 12px;
    border: 1px solid #aaa;
}
.rightContents .addForm form .customSelectbox .inner::before,
.rightContents .addForm form .customSelectbox .inner::after
{
    position: absolute;
    display: block;
    content: '';
}
.rightContents .addForm form .customSelectbox .inner::before
{
    top: 0;
    right: 0;
    bottom: 0;
    width: 24px;
    background: #000;
}
.rightContents .addForm form .customSelectbox .inner::after
{
    top: 50%;
    right: 7px;
    width: 0;
    height: 0;
    margin-top: -3px;
    border: solid transparent;
    border-width: 5px 5px 0 5px;
    border-top-color: #fff;
}
.rightContents .addForm form button
{
    font-size: 1.2em;
    font-weight: bold;
    display: block;
    width: 150px;
    margin-top: 30px;
    margin-left: auto;
    padding: 5px 10px;
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: #000;
}
.rightContents .addForm form button:hover
{
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    background-color: #f60;
}
.rightContents .addForm form .icon
{
    width: 20px;
    height: 20px;
    padding-right: 10px;
    vertical-align: baseline;

    fill: #fff;
}

/************************************************
* viewページ
************************************************/
.rightNavi .rightContents .viewArea
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    margin-top: 30px;
    padding: 10px 30px 30px 30px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 2px 2px 3px #788385;

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
}
.rightNavi .rightContents .viewArea .viewParsonal
{
    width: 60%;
}
.rightNavi .rightContents .viewArea .viewContentsTypeA
{
    margin: 15px 0 20px 0;
}
.rightNavi .rightContents .viewArea .viewContentsTypeA p
{
    font-size: 1.2em;
    font-weight: bold;
    display: inline-block;
    margin: 5px 30px 0 0;
    padding-left: 10px;
    border-left: 7px solid #f60;
}
.rightNavi .rightContents .viewArea .viewContentsTypeA p:last-child
{
    margin-right: 0;
}
.rightNavi .rightContents .viewArea .viewContentsTypeA span
{
    font-size: 1em;
    font-weight: normal;
    padding-left: 30px;
    color: #72777c;
}
.rightNavi .rightContents .viewArea .viewContentsTypeB
{
    margin-bottom: 20px;
}
.rightNavi .rightContents .viewArea .viewContentsTypeB h3
{
    font-size: 1.2em;
    font-weight: bold;
    display: block;
    padding-bottom: 8px;
    border-bottom: 2px solid #f60;
}
.rightNavi .rightContents .viewArea .viewContentsTypeB p
{
    line-height: normal;
    margin-top: 10px;
}
.rightNavi .rightContents .viewArea .viewContentsTypeC
{
    overflow: hidden;
    width: 30%;
    margin-top: 15px;
}
.rightNavi .rightContents .viewArea .viewContentsTypeC img
{
    display: block;
    width: 300px;
    margin-left: auto;
}
